<div>
  <h5 style="text-decoration: underline">Informasi Jabatan & Unit</h5>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Pegawai</label>
        <select name="id_pegawai" class="form-control select2 id_pegawai" id="">
          <option value="">-- Pegawai --</option>
          <% pegawai.map((v,i) => { %>
          <option value="<%- v.id_pegawai %>"><%- v.nama_lengkap %></option>
          <% }) %>
        </select>
        <small class="text-danger error-id_pegawai"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Apakah jabatan & unit ini aktif?</label>
        <div class="form-check">
          <input
            name="is_aktif"
            class="form-check-input is_aktif"
            type="checkbox"
            value="1"
            id="is_aktif"
          />
          <label class="form-check-label" for="is_aktif"> Ya </label>
        </div>
        <small class="text-danger error-is_aktif"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Tanggal masuk</label>
        <input
          class="form-control datepicker tanggal_masuk"
          placeholder="Tanggal masuk"
          id="tanggal_masuk"
          name="tanggal_masuk"
          type="text"
        />
        <small class="text-danger error-tanggal_masuk"></small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Cabang</label>
    <select name="id_cabang" class="form-control select2 id_cabang" id="">
      <option value="">-- Cabang --</option>
      <% cabang.map((v,i) => { %>
      <option value="<%- v.id_cabang %>"><%- v.nama_cabang %></option>
      <% }) %>
    </select>
    <small class="text-danger error-id_cabang"></small>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Unit</label>
        <select name="id_unit" class="form-control select2 id_unit" id="">
          <option value="">-- Unit --</option>
          <% unit.map((v,i) => { %>
          <option value="<%- v.id_unit %>"><%- v.nama_unit %></option>
          <% }) %>
        </select>
        <small class="text-danger error-id_unit"></small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Jabatan</label>
        <select
          name="id_jabatan"
          class="form-control select2 id_jabatan"
          id=""
          disabled
        >
          <option value="">-- Jabatan --</option>
        </select>
        <small class="text-danger error-id_jabatan"></small>
      </div>
    </div>
  </div>
</div>
