<div>
  <input type="hidden" name="page" value="add" />
  <input type="hidden" name="id_pegawai" value="" />
  <input type="hidden" name="id_client" value="<%- id_client %>" />
  <h5 style="text-decoration: underline">Informasi Biodata</h5>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Id absensi</label>
        <input
          type="text"
          placeholder="Id absensi.."
          name="id_absensi"
          class="form-control id_absensi"
          id="id_absensi"
        />
        <small class="text-danger error-id_absensi"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Jenis identitas</label>
        <select
          name="jenis_identitas"
          class="form-control jenis_identitas"
          id=""
        >
          <option value="">-- Jenis Identitas --</option>
          <option value="sim">SIM</option>
          <option value="ktp">KTP</option>
          <option value="pasport">Pasport</option>
        </select>
        <small class="text-danger error-jenis_identitas"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">No. identitas</label>
        <input
          type="number"
          class="form-control no_identitas"
          placeholder="No. identitas"
          name="no_identitas"
          id="no_identitas"
        />
        <small class="text-danger error-no_identitas"></small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Nama lengkap</label>
        <input
          type="text"
          class="form-control nama_lengkap"
          placeholder="Nama lengkap"
          id="nama_lengkap"
          name="nama_lengkap"
        />
        <small class="text-danger error-nama_lengkap"></small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Jenis kelamin</label> <br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="jenis_kelamin"
            id="jenis_kelamin1"
            value="L"
          />
          <label class="form-check-label" for="jenis_kelamin1">Laki-laki</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="jenis_kelamin"
            id="jenis_kelamin2"
            value="P"
          />
          <label class="form-check-label" for="jenis_kelamin2">Perempuan</label>
        </div>
        <small class="text-danger error-jenis_kelamin"></small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Tempat lahir</label>
        <input
          type="text"
          class="form-control tempat_lahir"
          placeholder="Tempat lahir"
          id="tempat_lahir"
          name="tempat_lahir"
        />
        <small class="text-danger error-tempat_lahir"></small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Tanggal lahir</label>
        <input
          type="text"
          class="form-control datepicker tanggal_lahir"
          placeholder="Tanggal lahir"
          id="tanggal_lahir"
          name="tanggal_lahir"
        />
        <small class="text-danger error-tanggal_lahir"></small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Pendidikan</label>
        <select
          name="pendidikan"
          class="form-control pendidikan"
          id="pendidikan"
        >
          <option value="">-- Pendidikan --</option>
          <option value="s1">S1</option>
          <option value="s2">S2</option>
          <option value="s3">S3</option>
          <option value="d1">D1</option>
          <option value="d2">D2</option>
          <option value="d3">D3</option>
          <option value="slta/sederajat">SLTA / SEDERAJAT</option>
          <option value="sltp/sederajat">SLTP / SEDERAJAT</option>
          <option value="sd">SD</option>
          <option value="tidak sekolah">Tidak Sekolah</option>
        </select>
        <small class="text-danger error-pendidikan"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Status perkawinan</label>
        <select
          name="status_perkawinan"
          class="form-control status_perkawinan"
          id="status_perkawinan"
        >
          <option value="">-- Status Perkawinan --</option>
          <option value="kawin">Kawin</option>
          <option value="belum kawin">Belum Kawin</option>
          <option value="cerai hidup">Cerai Hidup</option>
          <option value="cerai mati">Cerai Mati</option>
          <option value="lainnya">Lainnya</option>
        </select>
        <small class="text-danger error-status_perkawinan"></small>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="">Agama</label>
        <select name="agama" class="form-control agama" id="agama">
          <option value="">-- Agama --</option>
          <option value="islam">Islam</option>
          <option value="kristen">Kristen</option>
          <option value="katolik">Katolik</option>
          <option value="hindu">Hindu</option>
          <option value="budha">Budha</option>
          <option value="lainnya">Lainnya</option>
        </select>
        <small class="text-danger error-agama"></small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Alamat domisili</label>
        <textarea
          class="form-control alamat_domisili"
          placeholder="Alamat domisili"
          id="alamat_domisili"
          name="alamat_domisili"
        ></textarea>
        <small class="text-danger error-alamat_domisili"></small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Alamat KTP</label>
        <textarea
          class="form-control alamat_ktp"
          placeholder="Alamat KTP"
          id="alamat_ktp"
          name="alamat_ktp"
        ></textarea>
        <small class="text-danger error-alamat_ktp"></small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">No. kontak</label>
        <input
          class="form-control no_kontak1"
          placeholder="No. kontak..."
          id="no_kontak1"
          name="no_kontak1"
          type="number"
        />
        <small class="text-danger error-no_kontak1"></small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">No. kontak lainnya</label>
        <input
          class="form-control no_kontak2"
          placeholder="No. kontak lainnya"
          id="no_kontak2"
          name="no_kontak2"
          type="number"
        />
        <small class="text-danger error-no_kontak2"></small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="">Upload Gambar</label>
        <input
          type="file"
          class="form-control gambar"
          placeholder="Upload gambar..."
          name="gambar"
        />
        <small class="text-danger error-gambar"></small>
        <div id="load_gambar"></div>
      </div>
    </div>
  </div>
</div>
