<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <% if(jenis_mapping != 'client'){ include('../../utils/navbarClient') } %>

      <h2 class="section-title">Table <%- title %></h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-user-tie"></i> &nbsp; Daftar tabel jabatan
            </div>
            <div class="card-body">
              <div class="mb-1">
                <a
                  data-toggle="modal"
                  data-target="#modalForm"
                  href="#"
                  class="btn btn-primary icon-left btn-icon mb-2 btn-add"
                  ><i class="fas fa-plus"></i> Tambah
                </a>
                <a
                  data-toggle="modal"
                  data-target="#modalImport"
                  href="#"
                  class="btn btn-success icon-left btn-icon mb-2 btn-import"
                  ><i class="fas fa-file-excel"></i> Import
                </a>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Select data:</label>
                    <select class="form-control select-limit">
                      <option value="">-- Limit --</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="form-group w-50 ml-auto">
                    <label>Pencarian:</label>
                    <input
                      type="text"
                      class="form-control search"
                      placeholder="Pencarian"
                    />
                  </div>
                </div>
              </div>
              <span id="keterangan">
                Showing <span id="from"></span> to <span id="to"></span> of
                <span id="total"></span> Entries
              </span>
              <div class="table-responsive">
                <table
                  class="table table-bordered table-striped table-hover"
                  id="dataTable"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Nama cabang</th>
                      <th>Nama unit</th>
                      <th>Nama jabatan</th>
                      <th>Membawahi jabatan</th>
                      <th>Aktif</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_cabang"
                          name="filter_nama_cabang"
                          placeholder="Nama cabang.."
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_unit"
                          name="filter_nama_unit"
                          placeholder="Nama unit.."
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_jabatan"
                          name="filter_nama_jabatan"
                          placeholder="Nama jabatan..."
                        />
                      </th>
                      <th></th>
                      <th>
                        <select
                          class="form-control filter_is_aktif"
                          name="filter_is_aktif"
                          id="filter_is_aktif"
                        >
                          <option value="">-- Is Aktif --</option>
                          <option value="1">Aktif</option>
                          <option value="0">Tidak Aktif</option>
                        </select>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->

<%- include('./modal') %> <%- include('./script') %>
