<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Jabatan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/jabatan"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_jabatan" value="" />
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Nama cabang</label>
            <select
              name="id_cabang"
              class="form-control select2 id_cabang"
              id=""
            >
              <option value="">-- Cabang --</option>
              <% cabang.map((v,i) => { %>
              <option value="<%- v.id_cabang %>"><%- v.nama_cabang %></option>
              <% }) %>
            </select>
            <small class="text-danger error-id_cabang"></small>
          </div>
          <div class="form-group">
            <label for="">Nama unit</label>
            <select name="id_unit" class="form-control select2 id_unit" id="">
              <option value="">-- Unit --</option>
            </select>
            <small class="text-danger error-id_unit"></small>
          </div>
          <div class="form-group">
            <label for="">Apakah jabatan ini aktif?</label>
            <div class="form-check">
              <input
                name="is_aktif"
                class="form-check-input is_aktif"
                type="checkbox"
                value="1"
                id="is_aktif"
              />
              <label class="form-check-label" for="is_aktif"> Ya </label>
            </div>
            <small class="text-danger error-is_aktif"></small>
          </div>
          <div class="form-group">
            <label for="">Nama jabatan</label>
            <input
              type="text"
              class="form-control nama_jabatan"
              placeholder="Nama jabatan"
              name="nama_jabatan"
              id="nama_jabatan"
            />
            <small class="text-danger error-nama_jabatan"></small>
          </div>
          <div class="form-group">
            <label for="">Membawahi jabatan</label>
            <select
              name="membawahi_jabatan"
              class="form-control select2-multiple membawahi_jabatan"
              id="membawahi_jabatan"
              multiple="multiple"
            >
              <option
                value=""
                disabled="disabled"
                data-name="membawahi_jabatan"
              >
                -- Select All --
              </option>
            </select>
            <small class="text-danger error-membawahi_jabatan"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalDetail"
  tabindex="-1"
  aria-labelledby="modalDetailLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailLabel">Detail Jabatan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table>
            <tr>
              <td>Cabang</td>
              <td>
                <span class="mx-5">:</span>
              </td>
              <td><span id="td_nama_cabang"></span></td>
            </tr>
            <tr>
              <td>Unit</td>
              <td>
                <span class="mx-5">:</span>
              </td>
              <td><span id="td_nama_unit"></span></td>
            </tr>
          </table>
          <hr />
          <div class="mt-3">
            <strong>
              <span id="td_nama_jabatan"></span> Membawahi Jabatan:</strong
            >
            <div id="td_membawahi_jabatan"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          <i class="fas fa-check"></i> Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/jabatan/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
