<div>
  <h5 style="text-decoration: underline">Informasi Account</h5>
  <table class="table-detail">
    <tr>
      <td>Username</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_username"></span></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_email"></span></td>
    </tr>
  </table>
</div>