<div>
  <h5 style="text-decoration: underline">Informasi Biodata</h5>
  <div class="row">
    <div class="col-lg-6">
      <table class="table-detail">
        <tr>
          <td>Id Absensi</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_id_absensi"></span>
          </td>
        </tr>
        <tr>
          <td>Jenis identitas</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_jenis_identitas"></span>
          </td>
        </tr>
        <tr>
          <td>No. identitas</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_no_identitas"></span>
          </td>
        </tr>
        <tr>
          <td>Nama lengkap</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_nama_lengkap"></span>
          </td>
        </tr>
        <tr>
          <td>Jenis kelamin</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_jenis_kelamin"></span>
          </td>
        </tr>
        <tr>
          <td>Tempat lahir</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_tempat_lahir"></span>
          </td>
        </tr>
        <tr>
          <td>Tanggal lahir</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_tanggal_lahir"></span>
          </td>
        </tr>
        <tr>
          <td>Status perkawinan</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_status_perkawinan"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="table-detail">
        <tr>
          <td>Agama</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_agama"></span>
          </td>
        </tr>
        <tr>
          <td>Pendidikan</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_pendidikan"></span>
          </td>
        </tr>
        <tr>
          <td>Alamat domisili</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_alamat_domisili"></span>
          </td>
        </tr>
        <tr>
          <td>Alamat KTP</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_alamat_ktp"></span>
          </td>
        </tr>
        <tr>
          <td>No. kontak</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_no_kontak1"></span>
          </td>
        </tr>
        <tr>
          <td>No. kontak Lainnya</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_no_kontak2"></span>
          </td>
        </tr>
        <tr>
          <td>Gambar</td>
          <td>
            <span class="px-3">:</span>
          </td>
          <td>
            <span id="td_gambar"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>