<div>
  <h5 style="text-decoration: underline">Informasi Izin</h5>
  <table class="table-detail">
    <tr>
      <td>No. Surat Tanda Registrasi (STR)</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_str_izin"></span></td>
    </tr>
    <tr>
      <td>Jenis izin</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_jenis_izin"></span></td>
    </tr>
    <tr>
      <td>No. izin</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_nomor_izin"></span></td>
    </tr>
    <tr>
      <td>Tanggal kadaluarsa</td>
      <td>
        <span class="px-3"> : </span>
      </td>
      <td><span id="td_tanggal_kadaluarsa_izin"></span></td>
    </tr>
  </table>
</div>
