<div>
  <h5 style="text-decoration: underline">Informasi Jabatan & Unit</h5>
  <div class="row">
    <div class="col-lg-6">
      <table class="table-detail">
        <tr>
          <td>No. Pegawai</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_no_pegawai"></span></td>
        </tr>
        <tr>
          <td>Tanggal masuk</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_tanggal_masuk"></span></td>
        </tr>
        <tr>
          <td>Tanggal keluar</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_tanggal_keluar"></span></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="table-detail">
        <tr>
          <td>Cabang</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_id_cabang"></span></td>
        </tr>
        <tr>
          <td>Unit</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_id_unit"></span></td>
        </tr>
        <tr>
          <td>Jabatan</td>
          <td>
            <span class="px-3"> : </span>
          </td>
          <td><span id="td_id_jabatan"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
