<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Users</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/users"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id" value="" />
          <input type="hidden" name="password_hash_old" />
          <div class="form-group">
            <label for="">Username</label>
            <input
              type="text"
              class="form-control username"
              placeholder="Username..."
              name="username"
            />
            <small class="text-danger error-username"></small>
          </div>
          <div class="form-group">
            <label for="">Auth key</label>
            <input
              type="text"
              class="form-control auth_key"
              placeholder="Auth key..."
              name="auth_key"
            />
            <small class="text-danger error-auth_key"></small>
          </div>
          <div class="form-group">
            <label for="">PIN</label>
            <input
              type="number"
              class="form-control pin"
              placeholder="PIN..."
              name="pin"
            />
            <small class="text-danger error-pin"></small>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Password</label>
                <input
                  type="password"
                  name="password_hash"
                  class="form-control password_hash"
                  id="password"
                  placeholder="Password"
                />
                <small class="text-danger error-password_hash"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Confirm Password</label>
                <input
                  type="password"
                  class="form-control confirm_password_hash"
                  placeholder="Confirm password"
                  name="confirm_password_hash"
                  id="confirm_password_hash"
                />
                <small class="text-danger error-confirm_password_hash"></small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="">Email</label>
            <input
              type="text"
              class="form-control email"
              name="email"
              placeholder="Email"
            />
            <small class="text-danger error-email"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
