<script>
  $(document).ready(function () {
    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null) {
      $.ajax({
        url: "/admin/users",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.username}</td>
                <td>${v.auth_key}</td>
                <td>${v.email}</td>
                <td>${
                  v.status == "1"
                    ? '<span class="badge badge-success">Aktif</span>'
                    : '<span class="badge badge-danger">Tidak aktif</span>'
                }</td>
                <td>
                  <div class="text-center">
                    <a class="btn btn-warning btn-edit btn-sm" data-id="${
                      v.id
                    }" href="/admin/users/${
              v.id
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                    <a class="btn btn-danger btn-sm btn-delete" data-id="${
                      v.id
                    }" href="/admin/users/${
              v.id
            }/delete"><i class="fas fa-trash"></i> </a>
                  </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      loadTable(page, limit, search);
    });

    $(document).on("change", ".select-limit", function () {
      let limit = $(this).val();
      let page = $(".page-item.active").find("a.page-link").data("page");
      loadTable(page, limit);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let search = $(this).val();
      let limit = $(".select-limit").val();
      loadTable(null, limit, search);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      $(".form-submit")[0].reset();
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $.ajax({
        url: "/admin/users",
        type: "post",
        data: $(".form-submit").serialize(),
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          console.log("get data", data);
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetError(data.result);
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $(".btn-submit").attr("disabled", false);
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");

      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          $('input[name="id"]').val(result.id);
          $('input[name="username"]').val(result.username);
          $('input[name="auth_key"]').val(result.auth_key);
          $('input[name="pin"]').val(result.pin);
          $('input[name="password_hash_old"]').val(result.password_hash);
          $('input[name="email"]').val(result.email);

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
          });
        }
      });
    });
  });
</script>
