<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/pegawai"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="account-tab"
                data-toggle="tab"
                data-target="#account"
                type="button"
                role="tab"
                aria-controls="account"
                aria-selected="true"
              >
                Account
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="biodata-tab"
                data-toggle="tab"
                data-target="#biodata"
                type="button"
                role="tab"
                aria-controls="biodata"
                aria-selected="false"
              >
                Biodata
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="rekening-tab"
                data-toggle="tab"
                data-target="#rekening"
                type="button"
                role="tab"
                aria-controls="rekening"
                aria-selected="false"
              >
                Rekening
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="izin-tab"
                data-toggle="tab"
                data-target="#izin"
                type="button"
                role="tab"
                aria-controls="izin"
                aria-selected="false"
              >
                Izin
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="jabatan-dan-unit-tab"
                data-toggle="tab"
                data-target="#jabatan-dan-unit"
                type="button"
                role="tab"
                aria-controls="jabatan-dan-unit"
                aria-selected="false"
              >
                Jabatan dan Unit
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="kontrak-tab"
                data-toggle="tab"
                data-target="#kontrak"
                type="button"
                role="tab"
                aria-controls="kontrak"
                aria-selected="false"
              >
                Kontrak
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="account"
              role="tabpanel"
              aria-labelledby="account-tab"
            >
              <%- include('./partials/account') %>
            </div>
            <div
              class="tab-pane fade"
              id="biodata"
              role="tabpanel"
              aria-labelledby="biodata-tab"
            >
              <%- include('./partials/biodata') %>
            </div>
            <div
              class="tab-pane fade"
              id="rekening"
              role="tabpanel"
              aria-labelledby="rekening-tab"
            >
              <%- include('./partials/rekening') %>
            </div>
            <div
              class="tab-pane fade"
              id="izin"
              role="tabpanel"
              aria-labelledby="izin-tab"
            >
              <%- include('./partials/izin') %>
            </div>
            <div
              class="tab-pane fade"
              id="jabatan-dan-unit"
              role="tabpanel"
              aria-labelledby="jabatan-dan-unit-tab"
            >
              <%- include('./partials/jabatanDanUnit') %>
            </div>
            <div
              class="tab-pane fade"
              id="kontrak"
              role="tabpanel"
              aria-labelledby="kontrak-tab"
            >
              <%- include('./partials/kontrak') %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalDetail"
  aria-labelledby="modalDetailLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailLabel">Detail Pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="detail-account-tab"
              data-toggle="tab"
              data-target="#detail-account"
              type="button"
              role="tab"
              aria-controls="detail-account"
              aria-selected="true"
            >
              Account
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="detail-biodata-tab"
              data-toggle="tab"
              data-target="#detail-biodata"
              type="button"
              role="tab"
              aria-controls="detail-biodata"
              aria-selected="false"
            >
              Biodata
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="detail-rekening-tab"
              data-toggle="tab"
              data-target="#detail-rekening"
              type="button"
              role="tab"
              aria-controls="detail-rekening"
              aria-selected="false"
            >
              Rekening
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="detail-izin-tab"
              data-toggle="tab"
              data-target="#detail-izin"
              type="button"
              role="tab"
              aria-controls="detail-izin"
              aria-selected="false"
            >
              Izin
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="detail-jabatan-unit-tab"
              data-toggle="tab"
              data-target="#detail-jabatan-unit"
              type="button"
              role="tab"
              aria-controls="detail-jabatan-unit"
              aria-selected="false"
            >
              Jabatan dan Unit
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="detail-kontrak-tab"
              data-toggle="tab"
              data-target="#detail-kontrak"
              type="button"
              role="tab"
              aria-controls="detail-kontrak"
              aria-selected="false"
            >
              Kontrak
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="detail-account"
            role="tabpanel"
            aria-labelledby="detail-account-tab"
          >
            <%- include('./partials/detail/account') %>
          </div>
          <div
            class="tab-pane fade"
            id="detail-biodata"
            role="tabpanel"
            aria-labelledby="detail-biodata-tab"
          >
            <%- include('./partials/detail/biodata') %>
          </div>
          <div
            class="tab-pane fade"
            id="detail-rekening"
            role="tabpanel"
            aria-labelledby="detail-rekening-tab"
          >
            <%- include('./partials/detail/rekening') %>
          </div>
          <div
            class="tab-pane fade"
            id="detail-izin"
            role="tabpanel"
            aria-labelledby="detail-izin-tab"
          >
            <%- include('./partials/detail/izin') %>
          </div>
          <div
            class="tab-pane fade"
            id="detail-jabatan-unit"
            role="tabpanel"
            aria-labelledby="detail-jabatan-unit-tab"
          >
            <%- include('./partials/detail/jabatanDanUnit') %>
          </div>
          <div
            class="tab-pane fade"
            id="detail-kontrak"
            role="tabpanel"
            aria-labelledby="detail-kontrak-tab"
          >
            <%- include('./partials/detail/kontrak') %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          <i class="fas fa-check"></i> OK
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/pegawai/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
