<script>
  $(document).ready(function () {
    loadTable(null, null, null, getFilter());

    function getFilter() {
      let setFilter = {};
      setFilter.no_identitas = $(".filter_no_identitas").val();
      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.jenis_kelamin = $(".filter_jenis_kelamin").val();
      setFilter.email = $(".filter_email").val();
      setFilter.no_pegawai = $(".filter_no_pegawai").val();
      return setFilter;
    }

    $(document).on("input", ".filter_nama_lengkap", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_no_identitas", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_jenis_kelamin", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_email", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_no_pegawai", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/admin/pegawai",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          client_id: "<%- id_client %>",
          filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            output += `
                <tr>
                  <td>${no++}</td>
                  <td>${v.no_identitas}</td>
                  <td>${v.nama_lengkap}</td>
                  <td>${v.jenis_kelamin == "L" ? "Laki-laki" : "Perempuan"}</td>
                  <td>${v.email}</td>
                  <td>${v.no_pegawai}</td>
                  <td>
                    <div class="text-center">
                      <a class="btn btn-warning btn-edit btn-sm" data-id="${
                        v.id_pegawai
                      }" href="/admin/pegawai/${
              v.id_pegawai
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                      <a class="btn btn-danger btn-sm btn-delete" data-id="${
                        v.id_pegawai
                      }" href="/admin/pegawai/${
              v.id_pegawai
            }/delete"><i class="fas fa-trash"></i> </a>
              <a data-toggle="modal"
                    data-target="#modalDetail" class="btn btn-info btn-sm btn-detail" data-id="${
                      v.id_pegawai
                    }" href="/admin/pegawai/${
              v.id_pegawai
            }/detail"><i class="fas fa-eye"></i> </a>
                    </div>
                  </td>
                </tr>
                `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                  <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                      <li class="page-item ${v.active}">
                        <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                      </li>
                `;
          });
          paginationButton += `
              <li class="page-item ${buttonNext == false ? "disabled" : ""}">
              <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
            </li>
          </ul>
        </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_unit"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_jabatan"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_cabang"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_unit"]').attr("disabled", true);
      $('select[name="id_jabatan"]').attr("disabled", true);
      $(".nominal-all").addClass("d-none");
      $(".id_komponen_gaji").attr("checked", false).trigger("change");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let action = $(this).attr("action");
      let formData = new FormData();
      formData.append(
        "password_hash_old",
        $('input[name="password_hash_old"]').val()
      );
      formData.append("username", $('input[name="username"]').val());
      formData.append("password_hash", $('input[name="password_hash"]').val());
      formData.append(
        "confirm_password_hash",
        $('input[name="confirm_password_hash"]').val()
      );
      formData.append("email", $('input[name="email"]').val());
      formData.append("page", $('input[name="page"]').val());
      formData.append("id_pegawai", $('input[name="id_pegawai"]').val());
      formData.append("id_client", $('input[name="id_client"]').val());
      formData.append("id_absensi", $('input[name="id_absensi"]').val());
      formData.append(
        "jenis_identitas",
        $('select[name="jenis_identitas"]').val()
      );
      formData.append("no_identitas", $('input[name="no_identitas"]').val());
      formData.append("nama_lengkap", $('input[name="nama_lengkap"]').val());
      formData.append("jenis_kelamin", $('input[name="jenis_kelamin"]').val());
      formData.append("id_absensi", $('input[name="id_absensi"]').val());
      formData.append("tempat_lahir", $('input[name="tempat_lahir"]').val());
      formData.append("tanggal_lahir", $('input[name="tanggal_lahir"]').val());
      formData.append("pendidikan", $('select[name="pendidikan"]').val());
      formData.append(
        "status_perkawinan",
        $('select[name="status_perkawinan"]').val()
      );
      formData.append("agama", $('select[name="agama"]').val());
      formData.append(
        "alamat_domisili",
        $('textarea[name="alamat_domisili"]').val()
      );
      formData.append("alamat_ktp", $('textarea[name="alamat_ktp"]').val());
      formData.append("no_kontak1", $('input[name="no_kontak1"]').val());
      formData.append("no_kontak2", $('input[name="no_kontak2"]').val());
      formData.append("gambar", $("input[name='gambar']")[0].files[0]);
      formData.append(
        "nama_bank_rekening",
        $('input[name="nama_bank_rekening"]').val()
      );
      formData.append(
        "nomor_rekening",
        $('input[name="nomor_rekening"]').val()
      );
      formData.append(
        "pemilik_rekening",
        $('input[name="pemilik_rekening"]').val()
      );
      formData.append("str_izin", $('input[name="str_izin"]').val());
      formData.append("jenis_izin", $('select[name="jenis_izin"]').val());
      formData.append("nomor_izin", $('input[name="nomor_izin"]').val());
      formData.append(
        "tanggal_kadaluarsa_izin",
        $('input[name="tanggal_kadaluarsa_izin"]').val()
      );
      formData.append("no_pegawai", $('input[name="no_pegawai"]').val());
      let is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        is_aktif = 1;
      }
      formData.append("is_aktif", is_aktif);
      formData.append("tanggal_masuk", $('input[name="tanggal_masuk"]').val());
      formData.append(
        "tanggal_keluar",
        $('input[name="tanggal_keluar"]').val()
      );
      formData.append("id_cabang", $('select[name="id_cabang"]').val());
      formData.append("id_unit", $('select[name="id_unit"]').val());
      formData.append("id_jabatan", $('select[name="id_jabatan"]').val());
      formData.append("jenis_kontrak", $('select[name="jenis_kontrak"]').val());
      formData.append("tanggal_mulai", $('input[name="tanggal_mulai"]').val());
      formData.append(
        "tanggal_selesai",
        $('input[name="tanggal_selesai"]').val()
      );
      let id_komponen_gaji = [];
      let nominal = [];
      let data_id_komponen_gaji = $(".id_komponen_gaji");
      $.each(data_id_komponen_gaji, function (i, v) {
        if ($(this).is(":checked")) {
          let value = $(this).val();
          let nominal_gaji = $(
            'input[name="nominal"][data-id_komponen_gaji="' + value + '"]'
          ).val();
          nominal_gaji = nominal_gaji.split(",").join("");

          id_komponen_gaji.push(value);
          nominal.push(nominal_gaji);
        }
      });

      formData.append("id_komponen_gaji", id_komponen_gaji);
      formData.append("nominal", nominal);

      onSubmit(formData);
    });

    function onSubmit(formData) {
      $.ajax({
        url: "/admin/pegawai",
        type: "post",
        data: formData,
        enctype: "multipart/form-data",
        processData: false,
        contentType: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);

            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit").attr("disabled", false);
            $(".btn-submit-import").attr("disabled", true);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      resetForm();
      const id = $(this).data("id");
      const action = $(this).attr("href");

      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          console.log("get data", data);
          const {
            result: {
              users,
              pegawai,
              pegawai: { izin },
              pegawai: { rekening },
              pegawai: { pegawai_jabatan },
              pegawai: { pegawai_unit },
              pegawai: { pegawai_kontrak },
              pegawai: {
                pegawai_kontrak: { pegawai_komponen_gajis },
              },
            },
          } = data;

          // account
          $('input[name="username"]').val(users.username);
          $('input[name="password_hash_old"]').val(users.password_hash);
          $('input[name="email"]').val(users.email);

          // biodata
          $('input[name="id_pegawai"]').val(pegawai.id_pegawai);
          $('input[name="id_absensi"]').val(pegawai.id_absensi);
          $('select[name="jenis_identitas"]').val(pegawai.jenis_identitas);
          $('input[name="no_identitas"]').val(pegawai.no_identitas);
          $('input[name="nama_lengkap"]').val(pegawai.nama_lengkap);
          $(
            'input[name="jenis_kelamin"][value="' + pegawai.jenis_kelamin + '"]'
          ).attr("checked", true);
          $('input[name="tempat_lahir"]').val(pegawai.tempat_lahir);
          $('input[name="tanggal_lahir"]').val(pegawai.tanggal_lahir);
          $('select[name="status_perkawinan"]').val(pegawai.status_perkawinan);
          $('select[name="agama"]').val(pegawai.agama);
          $('select[name="pendidikan"]').val(pegawai.pendidikan);
          $('textarea[name="alamat_domisili"]').val(pegawai.alamat_domisili);
          $('textarea[name="alamat_ktp"]').val(pegawai.alamat_ktp);
          $('input[name="no_kontak1"]').val(pegawai.no_kontak1);
          $('input[name="no_kontak2"]').val(pegawai.no_kontak2);
          $('input[name="email"]').val(pegawai.email);
          $('input[name="no_pegawai"]').val(pegawai.no_pegawai);
          $('input[name="tanggal_masuk"]').val(dateTime(pegawai.tanggal_masuk));
          if (pegawai.tanggal_keluar != null) {
            $('input[name="tanggal_keluar"]').val(
              dateTime(pegawai.tanggal_keluar)
            );
          }
          $("#load_gambar").html(`
              <img class="w-50 img-thumbnail rounded" src="/image/pegawai/${pegawai.gambar}" />
            `);

          // bank
          $('input[name="nama_bank_rekening"]').val(
            rekening.nama_bank_rekening
          );
          $('input[name="nomor_rekening"]').val(rekening.nomor_rekening);
          $('input[name="pemilik_rekening"]').val(rekening.pemilik_rekening);

          // izin
          $('input[name="str_izin"]').val(izin.str_izin);
          $('select[name="jenis_izin"]').val(izin.jenis_izin);
          $('input[name="nomor_izin"]').val(izin.nomor_izin);
          $('input[name="tanggal_kadaluarsa_izin"]').val(
            izin.tanggal_kadaluarsa_izin
          );

          // jabatan & unit
          if (pegawai_jabatan.is_aktif != 0 && pegawai_jabatan != null) {
            $('input[name="is_aktif"]').attr("checked", true);
          }

          $('select[name="id_cabang"]')
            .val(pegawai_kontrak.id_cabang)
            .trigger("change");
          selectPegawaiCabang(
            pegawai_kontrak.id_cabang,
            pegawai_unit.id_unit,
            pegawai_jabatan.id_jabatan
          );

          // kontrak
          $('select[name="jenis_kontrak"]').val(pegawai_kontrak.jenis_kontrak);
          $('input[name="tanggal_mulai"]').val(
            dateTime(pegawai_kontrak.tanggal_mulai)
          );
          let tanggalSelesai =
            pegawai_kontrak.tanggal_selesai != null
              ? dateTime(pegawai_kontrak.tanggal_selesai)
              : null;
          $('input[name="tanggal_selesai"]').val(tanggalSelesai);

          // komponen gaji

          if (pegawai_komponen_gajis != undefined) {
            $.each(pegawai_komponen_gajis, function (i, v) {
              $('.id_komponen_gaji[value="' + v.id_komponen_gaji + '"]').attr(
                "checked",
                true
              );
              $(
                'input[name="nominal"][data-id_komponen_gaji="' +
                  v.id_komponen_gaji +
                  '"]'
              )
                .removeClass("d-none")
                .val(number_format(v.nominal));
            });
          }

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-detail", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");

      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const {
            result: {
              users,
              pegawai,
              pegawai: { izin },
              pegawai: { rekening },
              pegawai: { pegawai_jabatan },
              pegawai: {
                pegawai_jabatan: { jabatan },
              },
              pegawai: {
                pegawai_jabatan: { cabang },
              },
              pegawai: { pegawai_unit },
              pegawai: {
                pegawai_unit: { unit },
              },
              pegawai: { pegawai_kontrak },
              pegawai: {
                pegawai_kontrak: { pegawai_komponen_gajis },
              },
            },
          } = data;

          $("span#td_username").html(users.username);
          $("span#td_password_hash_old").html(users.password_hash);
          $("span#td_email").html(users.email);

          $("span#td_id_pegawai").html(pegawai.id_pegawai);
          $("span#td_id_absensi").html(pegawai.id_absensi);
          $("span#td_jenis_identitas").html(
            capitalizeEachWord(pegawai.jenis_identitas)
          );
          $("span#td_no_identitas").html(pegawai.no_identitas);
          $("span#td_nama_lengkap").html(pegawai.nama_lengkap);
          $("span#td_jenis_kelamin").html(
            pegawai.jenis_kelamin == "L" ? "Laki-laki" : "Perempuan"
          );
          $("span#td_tempat_lahir").html(pegawai.tempat_lahir);
          $("span#td_tanggal_lahir").html(pegawai.tanggal_lahir);
          $("span#td_status_perkawinan").html(
            capitalizeEachWord(pegawai.status_perkawinan)
          );
          $("span#td_agama").html(capitalizeEachWord(pegawai.agama));
          $("span#td_pendidikan").html(capitalizeEachWord(pegawai.pendidikan));
          $("span#td_alamat_domisili").html(pegawai.alamat_domisili);
          $("span#td_alamat_ktp").html(pegawai.alamat_ktp);
          $("span#td_no_kontak1").html(pegawai.no_kontak1);
          $("span#td_no_kontak2").html(pegawai.no_kontak2);
          $("span#td_email").html(pegawai.email);
          $("span#td_no_pegawai").html(pegawai.no_pegawai);
          $("span#td_tanggal_masuk").html(dateTime(pegawai.tanggal_masuk));
          if (pegawai.tanggal_keluar != null) {
            $("span#td_tanggal_keluar").html(dateTime(pegawai.tanggal_keluar));
          } else {
            $("span#td_tanggal_keluar").html("-");
          }
          $("span#td_gambar").html(`
            <a href="/image/pegawai/${pegawai.gambar}" target="_blank">
              <img class="w-50 img-thumbnail rounded" src="/image/pegawai/${pegawai.gambar}" />
            </a>
            `);

          $("span#td_nama_bank_rekening").html(rekening.nama_bank_rekening);
          $("span#td_nomor_rekening").html(rekening.nomor_rekening);
          $("span#td_pemilik_rekening").html(rekening.pemilik_rekening);

          $("span#td_str_izin").html(izin.str_izin);
          $("span#td_jenis_izin").html(
            izin.jenis_izin != "" ? capitalizeEachWord(izin.jenis_izin) : ""
          );
          $("span#td_nomor_izin").html(izin.nomor_izin);
          $("span#td_tanggal_kadaluarsa_izin").html(
            izin.tanggal_kadaluarsa_izin
          );

          // jabatan & unit
          $("span#td_id_cabang").html(cabang.nama_cabang);
          $("span#td_id_unit").html(unit.nama_unit);
          $("span#td_id_jabatan").html(jabatan.nama_jabatan);

          // kontrak
          $("span#td_jenis_kontrak").html(
            capitalizeEachWord(pegawai_kontrak.jenis_kontrak)
          );
          $("span#td_tanggal_mulai").html(
            dateTime(pegawai_kontrak.tanggal_mulai)
          );
          let tanggalSelesai =
            pegawai_kontrak.tanggal_selesai != null
              ? dateTime(pegawai_kontrak.tanggal_selesai)
              : null;
          $("span#td_tanggal_selesai").html(tanggalSelesai);
          let output = `
            <table class="w-100">
              <tbody>
              `;
          let nominalPendapatan = 0;
          $.each(pegawai_komponen_gajis, function (i, v) {
            const { komponen_gaji } = v;
            if (komponen_gaji.jenis == "+") {
              nominalPendapatan += parseFloat(v.nominal);
            }
            if (komponen_gaji.jenis == "-") {
              nominalPendapatan -= parseFloat(v.nominal);
            }
            output += `
              <tr>
                <td>${komponen_gaji.komponen_g} (${komponen_gaji.jenis})</td>
                <td>
                  <span class="px-3">:</span>
               </td>
               <td>${number_format(v.nominal)}</td>
              </tr>
              `;
          });
          output += `
              </tbody>
              <tfoot style="border-top: 1px solid #b0b0b0;">
                <tr>
                  <th colspan="2">Total bersih: Rp.</th>
                  <th>
                    ${number_format(nominalPendapatan)}
                  </th>
                </tr>
              </tfoot>
            </table>`;

          $("#load_komponen_gaji_karyawan").html(output);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
          });
        }
      });
    });

    $(".datepicker").datepicker({
      todayBtn: true,
      format: "dd-mm-yyyy",
      todayHighlight: true,
    });

    function dateTime(tanggal) {
      let getTanggal = moment(tanggal, "YYYY-MM-DD").format("DD-MM-YYYY");
      return getTanggal;
    }

    $(document).on("change", 'select[name="id_cabang"]', function () {
      let id_cabang = $(this).val();
      if (id_cabang != null && id_cabang != "") {
        selectPegawaiCabang(id_cabang);
      }
    });

    function selectPegawaiCabang(id_cabang, id_unit = "", id_jabatan = "") {
      $.ajax({
        url: "/admin/pegawai/" + id_cabang + "/cabangPegawai",
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result, status } = data;

          // unit
          let output = `
            <option value="">-- Unit --</option>
            `;
          if (status == 200) {
            $.each(result.units, function (i, v) {
              output += `
                <option value="${v.id_unit}" ${
                id_unit == v.id_unit ? "selected" : ""
              }>${v.nama_unit}</option>
                `;
            });

            $('select[name="id_unit"]').attr("disabled", false);
            $('select[name="id_unit"]').html(output);

            // jabatan
            selectPegawaiUnit(id_unit, id_jabatan);
          }
          if (output == "") {
            $('select[name="id_unit"]').attr("disabled", true);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("change", 'select[name="id_unit"]', function () {
      let id_unit = $(this).val();
      if (id_unit != "" && id_unit != null) {
        selectPegawaiUnit(id_unit);
      } else {
        $('select[name="id_jabatan"]').html(
          `<option value="">-- Jabatan --</option>`
        );
        $('select[name="id_jabatan"]').attr("disabled", true);
      }
    });

    function selectPegawaiUnit(id_unit, id_jabatan = "") {
      $.ajax({
        url: "/admin/pegawai/" + id_unit + "/unitPegawai",
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result, status } = data;
          let output = `
            <option value="">-- Jabatan --</option>
            `;
          if (status == 200) {
            $.each(result.jabatans, function (i, v) {
              output += `
                <option value="${v.id_jabatan}" ${
                id_jabatan == v.id_jabatan ? "selected" : ""
              }>${v.nama_jabatan}</option>
                `;
            });

            $('select[name="id_jabatan"]').attr("disabled", false);
            $('select[name="id_jabatan"]').html(output);
          }
          if (output == "") {
            $('select[name="id_jabatan"]').attr("disabled", true);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }
    $(document).on("click", ".id_komponen_gaji", function (e) {
      let value = $(this).val();
      if ($(this).is(":checked")) {
        $(
          'input[name="nominal"][data-id_komponen_gaji="' + value + '"]'
        ).removeClass("d-none");
      } else {
        $(
          'input[name="nominal"][data-id_komponen_gaji="' + value + '"]'
        ).addClass("d-none");
      }
    });

    // import
    $(document).on("click", ".btn-submit-import", function (e) {
      e.preventDefault();
      $(".form-submit-import").submit();
    });

    $(document).on("submit", ".form-submit-import", function (e) {
      e.preventDefault();
      let form = $(".form-submit-import")[0];
      let data = new FormData(form);
      onSubmitImport(data);
    });

    function onSubmitImport(data) {
      let url = $(".form-submit-import").attr("action");
      $.ajax({
        url: url,
        method: "post",
        type: "post",
        data: data,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit-import").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
            resetFormImport();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },
        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-import").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit-import").attr("disabled", false);
        },
      });
    }
  });
</script>

<% pegawaiKomponenGaji.map((v,i) => { %>
<script>
  new AutoNumeric(`.nominal-<%- v.id_komponen_gaji%>`, { decimalPlaces: 0 });
</script>
<% }) %> <%- include('../../utils/function') %>
