<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="ml-auto">
        <a href="/policy" class="btn btn-primary">
          <i class="fa-solid fa-building-shield"></i> Privacy & Policy
        </a>
        <a href="/terms" class="btn btn-primary">
          <i class="fa-brands fa-teamspeak"></i> Terms Condition
        </a>
      </div>
      <div class="row">
        <div
          class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
        >
          <div class="login-brand">
            <img
              src="/image/default.jpg"
              alt="logo"
              width="100"
              class="shadow-light rounded"
            />
          </div>

          <div class="card card-primary">
            <%- include('./utils/session') %>
            <div class="card-header"><h4>Login</h4></div>

            <div class="card-body">
              <div id="error-form-submit"></div>
              <form method="POST" action="/login" class="form-submit">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    id="username"
                    type="text"
                    class="form-control"
                    name="username"
                    placeholder="Username..."
                  />
                </div>

                <div class="form-group">
                  <label for="password" class="control-label">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password_hash"
                    placeholder="Password..."
                  />
                </div>
                <div class="d-flex justify-content-between">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        name="remember"
                        class="custom-control-input"
                        tabindex="3"
                        id="remember-me"
                        value="1"
                      />
                      <label class="custom-control-label" for="remember-me"
                        >Remember Me</label
                      >
                    </div>
                  </div>
                  <div class="d-block">
                    <div class="float-right">
                      <a href="/forgotPassword" class="text-small">
                        Forgot Password?
                      </a>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block btn-submit"
                    tabindex="4"
                  >
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="mt-5 text-muted text-center">
            Don't have an account? <a href="/register">Create One</a>
          </div>
          <div class="simple-footer">Copyright &copy; Satu Kantor 2022</div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('login/script'); %>
