<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Pengajuan cuti</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/pengajuanGaji"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_pengajuan_cuti" value="" />
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Pegawai</label>
                    <select
                      name="id_pegawai"
                      class="form-control select2 id_pegawai"
                      id=""
                    >
                      <option value="">-- Pegawai --</option>
                      <% pegawai.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_pegawai"></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Pegawai atasan</label>
                    <select
                      name="id_atasan"
                      class="form-control select2 id_atasan"
                      id=""
                    >
                      <option value="">-- Pegawai atasan --</option>
                      <% pegawai.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_atasan"></small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Pegawai pengganti</label>
                    <select
                      name="id_pegawai_pengganti"
                      class="form-control select2 id_pegawai_pengganti"
                      id=""
                    >
                      <option value="">-- Pegawai pengganti --</option>
                      <% pegawai.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                    <small
                      class="text-danger error-id_pegawai_pengganti"
                    ></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Jenis cuti</label>
                    <select
                      name="id_jenis_cuti"
                      class="form-control select2 id_jenis_cuti"
                      id=""
                    >
                      <option value="">-- Jenis cuti --</option>
                      <% jenisCuti.map((v,i) => { %>
                      <option value="<%- v.id_jenis_cuti %>">
                        <%- v.jenis_cuti %> [<%- v.saldo %>]
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_jenis_cuti"></small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="">Tanggal awal cuti</label>
                    <input
                      type="text"
                      class="form-control datepicker tanggal_awal_cuti"
                      name="tanggal_awal_cuti"
                      placeholder="Tanggal awal cuti"
                    />
                    <small class="text-danger error-tanggal_awal_cuti"></small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Catatan</label>
                <textarea
                  name="catatan"
                  class="form-control catatan"
                  placeholder="Catatan..."
                  id="catatan"
                  rows="5"
                  style="height: 100px"
                ></textarea>
                <small class="text-danger error-catatan"></small>
              </div>
              <div class="form-group">
                <label for="">Berkas</label>
                <input type="file" name="berkas" class="form-control berkas" />
                <small class="text-danger error-berkas"></small>
                <div id="output-berkas"></div>
              </div>
            </div>
            <div class="col-lg-6" style="margin: auto 0">
              <div
                id="loadRangeTanggalAwalAkhirCuti"
                style="text-align: center"
              >
                <i
                  class="fa-solid fa-arrows-rotate"
                  style="font-size: 100px"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalVerification"
  aria-labelledby="modalVerificationLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerificationLabel">
          Form Verifikasi Pengajuan cuti
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="#"
        method="post"
        class="form-submit-verification"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="id_pengajuan_cuti" value="" />
          <input type="hidden" name="status" value="" />
          <input type="hidden" name="tanggal_awal_cuti" value="" />
          <input type="hidden" name="tanggal_akhir_cuti" value="" />
          <input type="hidden" name="id_pegawai_pengajuan" value="" />

          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group" style="margin: 0">
                    <label for="" style="font-size: 18px"
                      ><strong id="pegawai-mengajukan"></strong> Mengajukan cuti
                      tanggal : <br />
                      <strong id="pengajuan-tanggal_awal_cuti"></strong>
                      <strong>S/D</strong>
                      <strong id="pengajuan-tanggal_akhir_cuti"></strong>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Pegawai pengganti</label>
                    <select
                      name="id_pegawai_pengganti"
                      class="form-control select2 id_pegawai_pengganti"
                      id=""
                    >
                      <option value="">-- Pegawai pengganti --</option>
                      <% pegawai.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                    <small
                      class="text-danger error-id_pegawai_pengganti"
                    ></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Pegawai atasan</label>
                    <select
                      name="id_atasan"
                      class="form-control select2 id_atasan"
                      id=""
                    >
                      <option value="">-- Pegawai atasan --</option>
                      <% pegawai.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_atasan"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" style="margin: auto 0">
              <div id="load-check-jadwal-pegawai-pengganti">
                <div class="text-center">
                  <!-- <i
                    class="fa-solid fa-arrows-rotate"
                    style="font-size: 80px"
                  ></i> -->

                  <div class="row">
                    <div class="col-lg-12">
                      <h6 class="m-0 p-0">Rentang tanggal pengajuan cuti</h6>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card shadow-sm bg-info mb-1">
                        <div
                          class="card-header bg-light p-2 m-0"
                          style="min-height: auto"
                        >
                          <span
                            class="text-danger font-weight-bold text-center"
                          >
                            <i class="fas fa-times"></i> Bentrok</span
                          >
                        </div>
                        <div class="card-body p-2 m-0">
                          <div class="text-center">
                            <strong class="text-white" style="font-size: 10px"
                              >Senin / 18-01-2023</strong
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-verification">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
