<script>
  $(document).ready(function () {
    var pane = $("#catatan  ");
    pane.val(
      $.trim(pane.val())
        .replace(/\s*[\r\n]+\s*/g, "\n")
        .replace(/(<[^\/][^>]*>)\s*/g, "$1")
        .replace(/\s*(<\/[^>]+>)/g, "$1")
    );

    function getFilter() {
      let setFilter = {};
      setFilter.id_jenis_cuti = $(".filter_id_jenis_cuti").val();
      setFilter.waktu_pengajuan = $(".filter_waktu_pengajuan").val();
      setFilter.id_pegawai = $(".filter_id_pegawai").val();
      setFilter.tanggal_awal_cuti = $(".filter_tanggal_awal_cuti").val();
      setFilter.tanggal_akhir_cuti = $(".filter_tanggal_akhir_cuti").val();
      setFilter.is_setuju = $(".filter_is_setuju").val();
      return setFilter;
    }

    $(document).on("input", ".filter_id_jenis_cuti", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_waktu_pengajuan", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_id_pegawai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal_awal_cuti", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal_akhir_cuti", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_setuju", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/pengajuanCuti",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            let rangeTanggal = getRange(
              v.tanggal_awal_cuti,
              v.tanggal_akhir_cuti,
              "days"
            );
            let countRangeTanggal = rangeTanggal.length;
            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.jenis_cuti.jenis_cuti}</td>
                <td>
                  <div class="text-center">
                    ${dateTimeStamp(v.waktu_pengajuan)}
                  </div>
                </td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${dateTime(v.tanggal_awal_cuti)}</td>
                <td>${dateTime(v.tanggal_akhir_cuti)}</td>
                <td>${countRangeTanggal}</td>
                <td>`;
            if (v.is_setuju == null) {
              output += `
                <div class="text-center">
                    <span class="badge badge-warning">
                      <i class="fa-solid fa-triangle-exclamation"></i>
                    </span>
                </div>`;
            } else {
              output += `
                    ${
                      v.is_setuju != "1"
                        ? '<span class="badge badge-danger"><i class="fas fa-times"></i></span>'
                        : '<span class="badge badge-success"><i class="fas fa-check"></i></span>'
                    }
                    `;
            }
            let buttonVerification = ``;
            if (v.is_setuju == null) {
              buttonVerification = `
                <button type="button" class="dropdown-item btn btn-success btn-verification" data-id="${v.id_pengajuan_cuti}" data-status="1"><i class="fa-solid fa-check"></i> &nbsp; Diterima</button>
                <button type="button" class="dropdown-item btn btn-danger btn-verification" data-id="${v.id_pengajuan_cuti}" data-status="0"><i class="fa-solid fa-circle-xmark"></i> &nbsp; Ditolak</button>
              `;
            }
            if (v.is_setuju == "1") {
              buttonVerification = `
                <button type="button" class="dropdown-item btn btn-danger btn-verification" data-id="${v.id_pengajuan_cuti}" data-status="0"><i class="fa-solid fa-circle-xmark"></i> &nbsp; Ditolak</button>
              `;
            }
            if (v.is_setuju == "0") {
              buttonVerification = `
                <button type="button" class="dropdown-item btn btn-success btn-verification" data-id="${v.id_pengajuan_cuti}" data-status="1"><i class="fa-solid fa-check"></i> &nbsp; Diterima</button>
              `;
            }
            output += `</td>
                <td>
                  <div class="text-center">
                    <div class="dropdown d-inline mr-2">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-cogs"></i> Pilih Aksi
                      </button>
                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 28px, 0px);">
                        <a class="dropdown-item btn btn-warning btn-edit" data-id="${v.id_pengajuan_cuti}" href="/pegawai/pengajuanCuti/${v.id_pengajuan_cuti}/edit"><i class="fas fa-pencil-alt"></i> &nbsp; Edit</a>

                        <a class="dropdown-item btn btn-danger btn-delete" data-id="${v.id_pengajuan_cuti}" href="/pegawai/pengajuanCuti/${v.id_pengajuan_cuti}/delete"><i class="fas fa-trash"></i> &nbsp; Delete</a>

                        ${buttonVerification}

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_pegawai"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_atasan"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_pegawai_pengganti"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_jenis_cuti"] option')
        .attr("selected", false)
        .trigger("change");

      $(".btn-submit").attr("disabled", true);
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let form = $(".form-submit")[0];
      let data = new FormData(form);
      onSubmit(data);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/pegawai/pengajuanCuti",
        type: "post",
        data: data,
        dataType: "json",
        enctype: "multipart/form-data",
        processData: false,
        contentType: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");
      resetForm();
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;

          $('input[name="id_pengajuan_cuti"]').val(result.id_pengajuan_cuti);
          $('select[name="id_pegawai"]')
            .val(result.id_pegawai)
            .trigger("change");
          $('select[name="id_atasan"]').val(result.id_atasan).trigger("change");
          $('select[name="id_pegawai_pengganti"]')
            .val(result.id_pegawai_pengganti)
            .trigger("change");
          $('select[name="id_jenis_cuti"]')
            .val(result.id_jenis_cuti)
            .trigger("change");
          $('input[name="tanggal_awal_cuti"]').val(
            dateTime(result.tanggal_awal_cuti)
          );
          $('input[name="tanggal_akhir_cuti"]').val(
            dateTime(result.tanggal_akhir_cuti)
          );
          $('textarea[name="catatan"]').val(result.catatan);

          let directory = `/image/pengajuanCuti/`;
          $("#output-berkas").html(`
            <div class="mt-1">
              <a class="btn btn-info form-control" target="_blank" href="${directory}/${result.berkas}"><i class="fa-sharp fa-solid fa-eye"></i> Berkas</a>
            </div>
          `);
          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");

          let saldoCuti = checkSaldoCutiPegawai();
          let tanggalAwalCuti = checkTanggalAwalCuti();

          if (saldoCuti && tanggalAwalCuti) {
            $(".btn-submit").attr("disabled", false);
          } else {
            $(".btn-submit").attr("disabled", true);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    function getPegawaiCuti() {
      let getData = {};
      getData.id_pegawai = $('select[name="id_pegawai"]').val();
      getData.id_jenis_cuti = $('select[name="id_jenis_cuti"]').val();

      return getData;
    }
    // display tanggal
    let jenisCuti = null;

    function selectIdJenisCuti() {
      let data = getPegawaiCuti();

      if (data.id_pegawai != "" && data.id_jenis_cuti != "") {
        $.ajax({
          url: "/pegawai/pengajuanCuti/checkPegawaiSaldoCuti",
          method: "get",
          dataType: "json",
          data: data,
          async: false,
          success: function (data) {
            jenisCuti = data;
          },
          error: function (x, t, m) {
            const { responseJSON, responseText } = x;
            if (responseJSON != null) {
              jenisCuti = responseJSON;
            }
            if (responseText != null) {
              console.log(responseText);
            }
          },
        });
      } else {
        jenisCuti = null;
      }

      return jenisCuti;
    }

    function errorMessage() {
      let output = `
      <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <div class="text-center">
            <i class="fas fa-times" style="font-size: 25px"></i>
          </div>
          <strong>Empty!</strong> Saldo cuti pegawai tidak ditemukan
          untuk jenis cuti ini
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `;
      return output;
    }

    function checkSaldoCutiPegawai() {
      jenisCuti = selectIdJenisCuti();
      let output = `<i class="fa-solid fa-arrows-rotate" style="font-size: 100px"></i>`;
      let returnButton = true;

      if (jenisCuti != null) {
        if (jenisCuti.status == 400) {
          returnButton = false;
          output = errorMessage();
        }
      } else {
        returnButton = false;
      }

      $("#loadRangeTanggalAwalAkhirCuti").html(output);
      return returnButton;
    }

    $(document).on("change", 'select[name="id_jenis_cuti"]', function () {
      let saldoCuti = checkSaldoCutiPegawai();
      let tanggalAwalCuti = checkTanggalAwalCuti();
      if (saldoCuti && tanggalAwalCuti) {
        $(".btn-submit").attr("disabled", false);
      } else {
        $(".btn-submit").attr("disabled", true);
      }
    });

    $(document).on("change", 'select[name="id_pegawai"]', function () {
      let saldoCuti = checkSaldoCutiPegawai();
      let tanggalAwalCuti = checkTanggalAwalCuti();

      if (saldoCuti && tanggalAwalCuti) {
        $(".btn-submit").attr("disabled", false);
      } else {
        $(".btn-submit").attr("disabled", true);
      }
    });

    function checkTanggalAwalCuti() {
      let output = ``;
      let returnButton = true;

      let periodeCuti = null;
      if (jenisCuti != null) {
        if (jenisCuti.status != 400) {
          periodeCuti = jenisCuti;
        }
      } else {
        returnButton = false;
        return;
      }

      let tanggal_awal_cuti = $('input[name="tanggal_awal_cuti"]').val();
      if (tanggal_awal_cuti == null || tanggal_awal_cuti == "") {
        returnButton = false;
        return;
      }

      if (periodeCuti != null) {
        const {
          result: { saldo },
        } = periodeCuti;

        output = `
          <div class="row">
              <div class="col-lg-12">
                <h6 class="m-0 p-0">Rentang tanggal pengajuan cuti</h6>
              </div>
          </div>
          <hr />
          <div class="row">
  `;
        for (let i = 1; i <= saldo; i++) {
          let tanggal_akhir_cuti = null;
          let getDay = null;
          tanggal_akhir_cuti = moment(tanggal_awal_cuti, "DD-MM-YYYY").add(
            i,
            "days"
          );
          getDay = moment(tanggal_akhir_cuti).format("dddd");

          tanggal_akhir_cuti = moment(tanggal_akhir_cuti).format("DD-MM-YYYY");
          getDay = convertDate(getDay);

          output += `
      <div class="col-lg-4">
        <div class="card shadow-sm bg-info mb-1">
          <div class="card-body p-2 m-0">
            <div class="text-center">
              <strong class="text-white" style="font-size: 10px"
                >${getDay} / ${tanggal_akhir_cuti}</strong
              >
            </div>
          </div>
        </div>
      </div>
    `;
        }
        output += `
    </div>
  `;
      }

      if (output != "") {
        $("#loadRangeTanggalAwalAkhirCuti").html(output);
      }

      return returnButton;
    }

    $(document).on("change", 'input[name="tanggal_awal_cuti"]', function () {
      let saldoCuti = checkSaldoCutiPegawai();
      let tanggalAwalCuti = checkTanggalAwalCuti();

      if (saldoCuti && tanggalAwalCuti) {
        $(".btn-submit").attr("disabled", false);
      } else {
        $(".btn-submit").attr("disabled", true);
      }
    });

    // verification
    function getPengajuanCutiId(id_pengajuan_cuti) {
      let output = null;
      $.ajax({
        url: `/pegawai/pengajuanCuti/${id_pengajuan_cuti}/edit`,
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          output = result;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    $(document).on("click", ".btn-verification", function (e) {
      $("#modalVerification").modal("show");
      const id = $(this).data("id");
      let status = $(this).data("status");
      let output = getPengajuanCutiId(id);

      if (output != undefined) {
        $("#pegawai-mengajukan").html(output.pegawai.nama_lengkap);
        $("#pengajuan-tanggal_awal_cuti").html(
          dateTime(output.tanggal_awal_cuti)
        );
        $("#pengajuan-tanggal_akhir_cuti").html(
          dateTime(output.tanggal_akhir_cuti)
        );

        $('.form-submit-verification input[name="id_pengajuan_cuti"]').val(id);
        $('.form-submit-verification input[name="id_pegawai_pengajuan"]').val(
          output.id_pegawai
        );
        $('.form-submit-verification input[name="status"]').val(status);
        $('.form-submit-verification input[name="tanggal_awal_cuti"]').val(
          output.tanggal_awal_cuti
        );
        $('.form-submit-verification input[name="tanggal_akhir_cuti"]').val(
          output.tanggal_akhir_cuti
        );
      }
    });

    $(document).on(
      "change",
      ".form-submit-verification .id_pegawai_pengganti",
      function (e) {
        let value = $(this).val();
        let tanggal_awal_cuti = $(
          '.form-submit-verification input[name="tanggal_awal_cuti"]'
        ).val();
        let tanggal_akhir_cuti = $(
          '.form-submit-verification input[name="tanggal_akhir_cuti"]'
        ).val();
        let id_pegawai_pengajuan = $(
          '.form-submit-verification input[name="id_pegawai_pengajuan"]'
        ).val();

        $.ajax({
          url: `/pegawai/pengajuanCuti/checkJadwalPegawai`,
          method: "get",
          dataType: "json",
          data: {
            id_pegawai: value,
            tanggal_awal_cuti,
            tanggal_akhir_cuti,
            id_pegawai_pengajuan,
          },
          beforeSend: function () {
            // $("#loading-data").removeClass("d-none");
          },
          success: function (data) {
            const { result } = data;
            console.log("get result", result);
          },
          error: function (x, t, m) {
            console.log(x.responseText);
          },
          complete: function () {
            // $("#loading-data").addClass("d-none");
          },
        });
      }
    );
  });
</script>

<%- include('../../utils/function') %>
