<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Langganan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/langganan"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_langganan" value="" />
          <div class="form-group">
            <label for="">Client</label>
            <select
              name="id_client"
              class="form-control select2 id_client"
              id=""
            >
              <option value="">-- Client --</option>
              <% dataClient.map((v,i) => { %>
              <option value="<%- v.id_client %>"><%- v.nama_client %></option>
              <% }) %>
            </select>
            <small class="text-danger error-id_client"></small>
          </div>
          <div class="form-group">
            <label for="">Waktu mulai</label>
            <input
              type="text"
              class="form-control datepicker waktu_mulai"
              placeholder="Waktu mulai"
              name="waktu_mulai"
              id="waktu_mulai"
            />
            <small class="text-danger error-waktu_mulai"></small>
          </div>
          <div class="form-group">
            <label for="">Waktu selesai</label>
            <input
              type="text"
              class="form-control datepicker waktu_selesai"
              placeholder="Waktu selesai"
              name="waktu_selesai"
              id="waktu_selesai"
            />
            <small class="text-danger error-waktu_selesai"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
