<% function convertMonth(bulan) { let output; switch (bulan) { case 1: output =
"Januari"; break; case 2: output = "Februari"; break; case 3: output = "Maret";
break; case 4: output = "April"; break; case 5: output = "Mei"; break; case 6:
output = "Juni"; break; case 7: output = "Juli"; break; case 8: output =
"Agustus"; break; case 9: output = "September"; break; case 10: output =
"Oktober"; break; case 11: output = "November"; break; case 12: output =
"Desember"; break; default: break; } return output; } %>
<style>
  .table-laporan tr {
    line-height: 30px;
  }
</style>
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Table <%- title %></h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-search"></i>&nbsp; Filter data
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">Pegawai</label>
                    <select
                      name="id_pegawai"
                      class="form-control filter_id_pegawai select2"
                      id=""
                    >
                      <option value="">-- Pegawai --</option>
                      <% pegawai.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.no_identitas %> | <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">Tahun</label>
                    <select
                      name="filter_tahun"
                      class="form-control select2 filter_tahun"
                      id=""
                    >
                      <option value="">-- Tahun --</option>
                      <% for (let i = tahun; i >= 2000 ; i--) { %>
                      <option value="<%- i %>"><%- i %></option>
                      <% } %>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">Bulan</label>
                    <select
                      name="filter_bulan"
                      class="form-control select2 filter_bulan"
                      id=""
                    >
                      <option value="">-- Bulan --</option>
                      <% for (let i = 1; i <= 12 ; i++) { %>
                      <option value="<%- i %>"><%- convertMonth(i) %></option>

                      <% } %>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">Tanggal</label>
                    <input
                      type="text"
                      class="form-control filter_tanggal datepicker"
                      name="filter_tanggal"
                      placeholder="Tanggal..."
                      value="<%- currentDate %>"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header">
              <i class="fas fa-user-tie"></i> &nbsp; Daftar tabel laporan
              kehadiran
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Select data:</label>
                    <select class="form-control select-limit">
                      <option value="">-- Limit --</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="form-group w-50 ml-auto">
                    <label>Pencarian:</label>
                    <input
                      type="text"
                      class="form-control search"
                      placeholder="Pencarian"
                    />
                  </div>
                </div>
              </div>
              <span id="keterangan">
                Showing <span id="from"></span> to <span id="to"></span> of
                <span id="total"></span> Entries
              </span>
              <div class="table-responsive">
                <table
                  class="table table-bordered table-striped table-hover"
                  id="dataTable"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Pegawai</th>
                      <th>Cabang</th>
                      <th>Hadir</th>
                      <th>Kerja</th>
                      <th>Waktu masuk</th>
                      <th>Waktu pulang</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_lengkap"
                          name="filter_nama_lengkap"
                          placeholder="Nama pegawai.."
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_cabang"
                          name="filter_nama_cabang"
                          placeholder="Nama cabang.."
                        />
                      </th>
                      <th>
                        <select
                          name="filter_is_hadir"
                          class="form-control filter_is_hadir"
                          id=""
                        >
                          <option value="">-- Is Hadir --</option>
                          <option value="1">Hadir</option>
                          <option value="0">Tidak Hadir</option>
                        </select>
                      </th>
                      <th>
                        <select
                          name="filter_is_kerja"
                          class="form-control filter_is_kerja"
                          id=""
                        >
                          <option value="">-- Is Kerja --</option>
                          <option value="1">Kerja</option>
                          <option value="0">Tidak Kerja</option>
                        </select>
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./modal') %> <%- include('./script') %>
