<!-- Modal -->
<div class="modal fade" id="modalDetail" aria-labelledby="modalDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailLabel">
          <i class="fas fa-book-open"></i> Detail Laporan Kehadiran
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <table class="w-100 table-laporan">
              <tr>
                <td>Nama</td>
                <td class="mx-3">:</td>
                <td><span id="td_id_pegawai"></span></td>
              </tr>
              <tr>
                <td>Tanggal</td>
                <td class="mx-3">:</td>
                <td><span id="td_id_jadwal"></span></td>
              </tr>
              <tr>
                <td>Apakah kerja ?</td>
                <td class="mx-3">:</td>
                <td><span id="td_is_kerja"></span></td>
              </tr>
              <tr>
                <td>Apakah hadir ?</td>
                <td class="mx-3">:</td>
                <td><span id="td_is_hadir"></span></td>
              </tr>
              <tr>
                <td>Total Jam kerja</td>
                <td class="mx-3">:</td>
                <td><span id="td_total_jam_kerja"></span></td>
              </tr>
              <tr>
                <td>Jam pegawai bekerja</td>
                <td class="mx-3">:</td>
                <td><span id="td_total_jam_kerja_real"></span></td>
              </tr>
            </table>
          </div>
          <div class="col-lg-6">
            <table class="w-100 table-laporan">
              <tr>
                <td>Waktu masuk</td>
                <td class="mx-3">:</td>
                <td><span id="td_waktu_masuk"></span></td>
              </tr>
              <tr>
                <td>Waktu pulang</td>
                <td class="mx-3">:</td>
                <td><span id="td_waktu_pulang"></span></td>
              </tr>
              <tr>
                <td>Apakah terlambat ?</td>
                <td class="mx-3">:</td>
                <td><span id="td_is_terlambat"></span></td>
              </tr>
              <tr>
                <td>Apakah pulang cepat ?</td>
                <td class="mx-3">:</td>
                <td><span id="td_is_pulang_cepat"></span></td>
              </tr>
              <tr>
                <td>Apakah cuti ?</td>
                <td class="mx-3">:</td>
                <td><span id="td_is_cuti"></span></td>
              </tr>
              <tr>
                <td>Apakah lembur ?</td>
                <td class="mx-3">:</td>
                <td><span id="td_is_lembur"></span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <i class="fas fa-check"></i> OK
        </button>
      </div>
    </div>
  </div>
</div>