<script>
  $(document).ready(function () {
    var pane = $("#catatan");
    pane.val(
      $.trim(pane.val())
        .replace(/\s*[\r\n]+\s*/g, "\n")
        .replace(/(<[^\/][^>]*>)\s*/g, "$1")
        .replace(/\s*(<\/[^>]+>)/g, "$1")
    );

    function getFilter() {
      let setFilter = {};
      setFilter.tanggal_lembur = $(".filter_tanggal_lembur").val();
      setFilter.id_jenis_lembur = $(".filter_id_jenis_lembur").val();
      setFilter.waktu_mulai = $(".filter_waktu_mulai").val();
      setFilter.waktu_selesai = $(".filter_waktu_selesai").val();
      return setFilter;
    }

    $(document).on("input", ".filter_tanggal_lembur", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_id_jenis_lembur", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_waktu_mulai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_waktu_selesai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/pengajuanLembur",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            const { jenis_lembur } = v;

            // total jam kerja
            let total_jam_lembur = null;
            let nominal_uang_lembur = null;
            let waktu_mulai = moment.duration(v.waktu_mulai).asSeconds();
            let waktu_selesai = moment.duration(v.waktu_selesai).asSeconds();
            total_jam_lembur = waktu_selesai - waktu_mulai;

            total_jam_lembur = moment
              .utc(
                moment.duration(total_jam_lembur, "seconds").asMilliseconds()
              )
              .format("HH:mm:ss");
            let getJamLembur = moment
              .utc(
                moment.duration(total_jam_lembur, "seconds").asMilliseconds()
              )
              .format("HH");

            total_jam_lembur = parseInt(getJamLembur) + " Jam";

            // perhitungan jam lembur
            if (jenis_lembur.jenis_perhitungan == "jam") {
              let jamLembur = parseInt(getJamLembur);

              let formula = JSON.parse(jenis_lembur.formula);
              let lemburJam = null;
              $.each(formula, function (i, v) {
                let objectKey = Object.keys(v).map((v2, i2) => {
                  let split = v2.split("_");
                  let getJam = split[1];

                  if (jamLembur >= getJam) {
                    lemburJam = v[v2];
                  }
                });
              });

              nominal_uang_lembur = lemburJam;
            } else {
              let formula = JSON.parse(jenis_lembur.formula);
              let lemburJam = null;
              $.each(formula, function (i, v) {
                let objectKey = Object.keys(v).map((v2, i2) => {
                  lemburJam = v[v2];
                });
              });

              nominal_uang_lembur = lemburJam;
            }

            output += `
              <tr>
                <td>${no++}</td>
                <td>${dateTime(v.tanggal_lembur)}</td>
                <td>${jenis_lembur.jenis_lembur}</td>
                <td>${v.waktu_mulai}</td>
                <td>${v.waktu_selesai}</td>
                <td>${total_jam_lembur}</td>
                <td>${number_format(nominal_uang_lembur)}</td>
                <td>
                  <div class="text-center">
                    <div class="dropdown d-inline mr-2">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i> Pilih Aksi
                      </button>
                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 28px, 0px);">
                        <a data-id="${
                          v.id_pengajuan_lembur
                        }" class="dropdown-item btn btn-warning btn-edit" data-id="9" href="/pegawai/pengajuanLembur/${
              v.id_pengajuan_lembur
            }/edit"><i class="fas fa-pencil-alt"></i> &nbsp; Edit</a>

                        <a data-id="${
                          v.id_pengajuan_lembur
                        }" class="dropdown-item btn btn-danger btn-delete" data-id="9" href="/pegawai/pengajuanLembur/${
              v.id_pengajuan_lembur
            }/delete"><i class="fas fa-trash"></i> &nbsp; Delete</a>
                <button type="button" class="dropdown-item btn btn-success btn-verification" data-id="${
                  v.id_pengajuan_lembur
                }"><i class="fa-solid fa-pen"></i> &nbsp; Verifikasi</button>  
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_jenis_lembur"] option').attr("selected", false);
      $('select[name="search_id_pegawai "] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_cabang "] option')
        .attr("selected", false)
        .trigger("change");
      $("#load_berkas").html("");
      $("#onLoadPengajuanLembur").html("");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let formData = new FormData();

      formData.append("page", $(".page").val());
      formData.append("id_pengajuan_lembur", $(".id_pengajuan_lembur").val());
      formData.append("id_cabang", $(".id_cabang").val());
      formData.append("id_jenis_lembur", $(".id_jenis_lembur").val());
      formData.append("tanggal_lembur", $(".tanggal_lembur").val());
      formData.append("waktu_mulai", $(".waktu_mulai").val());
      formData.append("waktu_selesai", $(".waktu_selesai").val());
      formData.append("catatan", $(".catatan").val());
      formData.append("berkas", $(".berkas")[0].files[0]);

      // data pegawai
      let pegawai = [];
      let dataPegawai = $("#onLoadPengajuanLembur .row_data_pegawai");
      $.each(dataPegawai, function (i, v) {
        let id_pegawai = $(this).data("id_pegawai");
        pegawai.push(id_pegawai);
      });

      let id_pegawai = null;
      if (pegawai.length > 0) {
        id_pegawai = pegawai.join(",");
      }
      formData.append("id_pegawai", id_pegawai);
      onSubmit(formData);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/pegawai/pengajuanLembur",
        type: "post",
        data: data,
        dataType: "json",
        enctype: "multipart/form-data",
        processData: false,
        contentType: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          console.log("get data", data);
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");
      resetForm();
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;

          $("input[name='id_pengajuan_lembur']").val(
            result.id_pengajuan_lembur
          );

          $(".id_jenis_lembur").val(result.id_jenis_lembur);
          $(".id_cabang").val(result.id_cabang).trigger("change");
          $(".tanggal_lembur").val(dateTime(result.tanggal_lembur));
          $(".waktu_mulai").val(result.waktu_mulai);
          $(".waktu_selesai").val(result.waktu_selesai);
          $(".catatan").val(result.catatan);

          let root = "/image/pengajuanLembur";
          let loadBerkas = `
          <a class="btn btn-info" target="_blank" href="${root}/${result.berkas}">
            <i class="fa-solid fa-file"></i> Lihat berkas
          </a>`;
          $("#load_berkas").html(loadBerkas);

          // pegawai pengajuan lembur list
          let onLoadDataPegawai = ``;
          let countPegawai = 1;
          const { pengajuan_lembur_lists } = result;

          pengajuan_lembur_lists.map((v, i) => {
            onLoadDataPegawai += `
            <tr data-id_pegawai="${v.id_pegawai}" class="row_data_pegawai">
                <td><span class="row_data">${countPegawai}</span></td>
                <td>${v.pegawai.no_pegawai}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${v.pegawai.pegawai_unit.unit.nama_unit}</td>
                <td>${v.pegawai.pegawai_jabatan.jabatan.nama_jab}</td>
                <td>
                  <a style="cursor: pointer;" class="btn btn-danger btn-delete-pegawai" data-id_pegawai="${v.id_pegawai}">
                    <i class="fas fa-trash text-white"></i>
                  </a>
                </td>
          </tr>
            `;
            countPegawai++;
          });

          if (onLoadDataPegawai != null && onLoadDataPegawai != "") {
            $("#onLoadPengajuanLembur").append(onLoadDataPegawai);
          }

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    $(document).on("change", ".search_id_pegawai", function () {
      let value = $(this).val();
      let pushPegawai = [];
      if (value != null) {
        let dataPegawai = $(".row_data_pegawai");
        $.each(dataPegawai, function (i, v) {
          let id_pegawai = $(this).data("id_pegawai");
          pushPegawai.push(id_pegawai);
        });
      }

      let pegawai = loadGetPegawai(value);
      let onLoadDataPegawai = null;
      let unique_id_pegawai = [];
      if (pushPegawai.length > 0) {
        unique_id_pegawai = unique(pushPegawai);
        let checkArray = unique_id_pegawai.includes(parseInt(value));
        let countPegawai = parseInt(unique_id_pegawai.length + 1);

        if (!checkArray) {
          onLoadDataPegawai = `
        <tr data-id_pegawai="${pegawai.pegawai.id_pegawai}" class="row_data_pegawai">
          <td><span class="row_data">${countPegawai}</span></td>
          <td>${pegawai.pegawai.no_pegawai}</td>
          <td>${pegawai.pegawai.nama_lengkap}</td>
          <td>${pegawai.pegawai.pegawai_unit.unit.nama_unit}</td>
          <td>${pegawai.pegawai.pegawai_jabatan.jabatan.nama_jabatan}</td>
          <td>
            <a style="cursor: pointer;" class="btn btn-danger btn-delete-pegawai" data-id_pegawai="${pegawai.pegawai.id_pegawai}">
              <i class="fas fa-trash text-white"></i>
            </a>
          </td>
        </tr>
        `;
        }
      } else {
        if (pegawai != null) {
          onLoadDataPegawai = `
        <tr data-id_pegawai="${pegawai.pegawai.id_pegawai}" class="row_data_pegawai">
          <td>
            <span class="row_data">1</span>
          </td>
          <td>${pegawai.pegawai.no_pegawai}</td>
          <td>${pegawai.pegawai.nama_lengkap}</td>
          <td>${pegawai.pegawai.pegawai_unit.unit.nama_unit}</td>
          <td>${pegawai.pegawai.pegawai_jabatan.jabatan.nama_jabatan}</td>
          <td>
            <a style="cursor: pointer;" class="btn btn-danger btn-delete-pegawai" data-id_pegawai="${pegawai.pegawai.id_pegawai}">
              <i class="fas fa-trash text-white"></i>
            </a>
          </td>
        </tr>
        `;
        }
      }

      if (onLoadDataPegawai != null) {
        $("#onLoadPengajuanLembur").append(onLoadDataPegawai);
      }
    });

    $(document).on("click", ".btn-delete-pegawai", function () {
      let id_pegawai = $(this).data("id_pegawai");
      $(this).closest(`tr[data-id_pegawai='${id_pegawai}']`).remove();

      let row_data_pegawai = $(".row_data_pegawai");
      let no = 1;
      $.each(row_data_pegawai, function (i, v) {
        let html = $(this).find(".row_data");
        html = html.text(no);
        html = html.html();

        no++;
      });
    });

    $(document).on("change", ".id_cabang ", function () {
      let id_cabang = $(this).val();
      $.ajax({
        url: "/pegawai/pengajuanLembur/getPegawaiCabang",
        method: "get",
        data: {
          id_cabang: id_cabang,
        },
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          let output = `<option value="">-- Cari Pegawai --</option>`;
          const { result } = data;
          if (data.status == 200) {
            result.map((v, i) => {
              const { pegawai } = v;
              output += `
              <option value="${pegawai.id_pegawai}">${pegawai.no_pegawai} | ${pegawai.nama_lengkap}</option>
              `;
            });

            $(".search_id_pegawai").html(output);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    function loadGetPegawai(id_pegawai = null) {
      let output = null;
      $.ajax({
        url: `/admin/pegawai/${id_pegawai}/detail`,
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          output = result;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    // verifikasi
    function getPengajuanLembur(id) {
      $.ajax({
        url: "/pegawai/pengajuanLembur/" + id + "/edit",
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;

          let id_pengajuan_lembur = result.id_pengajuan_lembur;

          // pegawai pengajuan lembur list
          let onLoadDataPegawai = ``;
          let countPegawai = 1;
          const { pengajuan_lembur_lists } = result;

          pengajuan_lembur_lists.map((v, i) => {
            let buttonVerified = `
              <div class="mb-2">
                <a style="cursor: pointer;" class="btn btn-success w-100 btn-sm btn-verified-pengajuan" data-id_pegawai="${v.id_pegawai}">
                  <i class="fas fa-check text-white"></i>
                </a>
              </div>
              <div class="mb-2">
                <a style="cursor: pointer;" class="btn btn-danger w-100 btn-sm btn-tolak-pengajuan" data-id_pegawai="${v.id_pegawai}">
                  <i class="fas fa-trash text-white"></i>
                </a>
              </div>
            `;

            if (v.is_setuju == "1") {
              buttonVerified = `
              <div class="mb-2">
                <a style="cursor: pointer;" class="btn btn-danger w-100 btn-sm btn-tolak-pengajuan" data-id_pegawai="${v.id_pegawai}">
                  <i class="fas fa-trash text-white"></i>
                </a>
              </div>
              `;
            }
            if (v.is_setuju == "0") {
              buttonVerified = `
              <div class="mb-2">
                <a style="cursor: pointer;" class="btn btn-success w-100 btn-sm btn-verified-pengajuan" data-id_pegawai="${v.id_pegawai}">
                  <i class="fas fa-check text-white"></i>
                </a>
              </div>
              `;
            }
            onLoadDataPegawai += `
            <tr data-id_pegawai="${v.id_pegawai}" class="row_data_pegawai">
                <td><span class="row_data">${countPegawai}</span></td>
                <td>${v.pegawai.no_pegawai}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${v.pegawai.pegawai_unit.unit.nama_unit}</td>
                <td>${v.pegawai.pegawai_jabatan.jabatan.nama_jab}</td>
                <td>
                  ${buttonVerified}
                </td>
          </tr>
            `;
            countPegawai++;
          });

          if (onLoadDataPegawai != null && onLoadDataPegawai != "") {
            $("#onLoadPengajuanLemburVerifikasi").append(onLoadDataPegawai);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }
    $(document).on("click", ".btn-verification", function () {
      let id_pengajuan_lembur = $(this).data("id");
      $("#modalVerification").modal("show");

      getPengajuanLembur(id_pengajuan_lembur);

      $(".btn-all-verified").attr(
        "href",
        "/pegawai/pengajuanLembur/" +
          id_pengajuan_lembur +
          "/allVerified?status=1"
      );
      $(".btn-all-denied").attr(
        "href",
        "/pegawai/pengajuanLembur/" +
          id_pengajuan_lembur +
          "/allVerified?status=0"
      );
    });

    function ajaxVerified() {}

    $(document).on("click", ".btn-all-verified", function () {
      Swal.fire({
        title: "Accepted",
        text: "Apakah anda setujui pegawai ini untuk lembur ?",
        icon: "info",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    $(document).on("click", ".btn-all-denied", function () {
      Swal.fire({
        title: "Accepted",
        text: "Apakah anda menolak pengajuan pegawai ini untuk lembur ?",
        icon: "info",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, confirm",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    $(document).on("click", ".btn-verified-pengajuan", function () {});
  });
</script>

<%- include('../../utils/function') %>
