<div class="main-content">
  <section class="section">
    <div class="row">
      <div class="col-lg-12"><%- include('../../utils/session') %></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Dashboard</div>
          </div>
          <div class="card-icon bg-primary">
            <i class="fas fa-home"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h3>Selamat datang di halaman Dashboard</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
