<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Cabang</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/cabang"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_cabang" value="" />
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Nama cabang</label>
            <input
              type="text"
              class="form-control nama_cabang"
              placeholder="Nama cabang"
              name="nama_cabang"
              id="nama_cabang"
            />
            <small class="text-danger error-nama_cabang"></small>
          </div>
          <div class="form-group">
            <label for="">Alamat</label>
            <textarea
              class="form-control alamat"
              placeholder="Alamat"
              name="alamat"
              rows="3"
              id="alamat"
              style="height: 100px"
            ></textarea>
            <small class="text-danger error-alamat"></small>
          </div>
          <div class="form-group">
            <label for="">Kontak</label>
            <input
              type="number"
              class="form-control kontak"
              name="kontak"
              placeholder="Kontak"
              id="kontak"
            />
            <small class="text-danger error-kontak"></small>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Longitude</label>
                <input
                  type="text"
                  class="form-control longitude"
                  name="longitude"
                  placeholder="Longitude"
                  id="longitude"
                />
                <small class="text-danger error-longitude"></small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Latitude</label>
                <input
                  type="text"
                  class="form-control latitude"
                  name="latitude"
                  placeholder="Latitude"
                  id="latitude"
                />
                <small class="text-danger error-latitude"></small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Apakah cabang ini aktif?</label>
            <div class="form-check">
              <input
                name="is_aktif"
                class="form-check-input is_aktif"
                type="checkbox"
                value="1"
                id="is_aktif"
              />
              <label class="form-check-label" for="is_aktif"> Ya </label>
            </div>
            <small class="text-danger error-is_aktif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/cabang/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
