<script>
  $(document).ready(function () {
    function getFilter() {
      let setFilter = {};
      setFilter.id_cabang = $(".filter_id_cabang").val();
      setFilter.nama_tugas = $(".filter_nama_tugas").val();
      setFilter.is_aktif = $(".filter_is_aktif").val();
      return setFilter;
    }

    $(document).on("change", ".filter_id_cabang", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    $(document).on("input", ".filter_nama_tugas", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    $(document).on("change", ".filter_is_aktif", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/admin/tugas",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          client_id: "<%- id_client %>",
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = 1;
          let dataUnit = "";
          data.map((v, i) => {
            output += `
                <tr>
                  <td>${no++}</td>
                  <td>${v.cabang.nama_cabang}</td>
                  <td>${v.nama_tugas}</td>
                  <td>${
                    v.is_aktif == 1
                      ? '<span class="badge badge-success">Aktif</span>'
                      : '<span class="badge badge-danger">Tidak aktif</span>'
                  }</td>
                  <td>
                    <div class="text-center">
                      <a class="btn btn-warning btn-edit btn-sm" data-id="${
                        v.id_tugas
                      }" href="/admin/tugas/${
              v.id_tugas
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                      <a class="btn btn-danger btn-sm btn-delete" data-id="${
                        v.id_tugas
                      }" href="/admin/tugas/${
              v.id_tugas
            }/delete"><i class="fas fa-trash"></i> </a>
                    </div>
                  </td>
                </tr>
                `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                  <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                      <li class="page-item ${v.active}">
                        <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                      </li>
                `;
          });
          paginationButton += `
              <li class="page-item ${buttonNext == false ? "disabled" : ""}">
              <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
            </li>
          </ul>
        </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let filter = getFilter();
      loadTable(page, limit, search, filter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_cabang"] option')
        .attr("selected", false)
        .trigger("change");
      $('input[name="is_aktif"]').attr("checked", false);
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let data = {};
      data.page = $('input[name="page"]').val();
      data.id_tugas = $('input[name="id_tugas"]').val();
      data.id_cabang = $('select[name="id_cabang"]').val();
      data.nama_tugas = $('input[name="nama_tugas"]').val();
      data.is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        data.is_aktif = 1;
      }

      onSubmit(data);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/admin/tugas",
        type: "post",
        data: data,
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");
      resetForm();
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          $('input[name="id_tugas"]').val(result.id_tugas);
          $('select[name="id_cabang"]').val(result.id_cabang).trigger("change");
          $('input[name="nama_tugas"]').val(result.nama_tugas);
          if (result.is_aktif != null && result.is_aktif != 0) {
            $('input[name="is_aktif"]').attr("checked", true);
          }

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });
  });
</script>

<%- include('../../utils/function') %> <%- include('../../utils/select2-custom')
%>
