<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Users Mapping</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/usersMapping" method="post" class="form-submit">
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_user_mapping" value="" />
          <div class="form-group">
            <label for="">Jenis mapping</label>
            <select
              name="jenis_mapping"
              class="form-control jenis_mapping"
              id=""
            >
              <option value="">-- Jenis mapping --</option>
              <option value="admin">Admin</option>
              <option value="pegawai">Pegawai</option>
              <option value="client">Client</option>
            </select>
            <small class="text-danger error-jenis_mapping"></small>
          </div>
          <!-- <div class="form-group">
            <label for="">Pegawai dari client?</label>
            <select
              name="fromPegawaiClient"
              class="form-control fromPegawaiClient"
              id=""
            >
              <option value="">-- Client --</option>
              <option value="admin">Admin</option>
              <option value="pegawai">Pegawai</option>
              <option value="client">Client</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="">Users</label>
            <select name="id_user" class="form-control id_user" id="">
              <option value="">-- Users --</option>
            </select>
            <small class="text-danger error-id_user"></small>
          </div>

          <div class="form-group">
            <label for="">Mapping</label>
            <select
              name="id_mapping"
              class="form-control id_mapping"
              id="id_mapping"
            >
              <option value="">-- Mapping --</option>
            </select>
            <small class="text-danger error-id_mapping"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
