<script>
  $(document).ready(function () {
    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null) {
      $.ajax({
        url: "/admin/usersMapping",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            let user = loadValueUser(v.id_user);
            const { result } = user;

            let rMap = {};
            rMap.nama_maping = result.username;
            rMap.kontak_maping = "-";

            if (v.id_mapping != null) {
              let mappping = loadValueMapping(v.jenis_mapping, v.id_mapping);
              rMap = mappping.result;
            }

            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.jenis_mapping}</td>
                <td>${result.username} | ${result.email}</td>
                <td>
                  <ul style="list-style:none; margin:0; padding:0;">
                    <li>Nama: ${rMap.nama_maping}</li>  
                    <li>Kontak: ${rMap.kontak_maping}</li>  
                  </ul>  
                </td>
                <td>
                  <div class="text-center">
                    <a class="btn btn-warning btn-edit btn-sm" data-id="${
                      v.id_user_mapping
                    }" href="/admin/usersMapping/${
              v.id_user_mapping
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                    <a class="btn btn-danger btn-sm btn-delete" data-id="${
                      v.id_user_mapping
                    }" href="/admin/usersMapping/${
              v.id_user_mapping
            }/delete"><i class="fas fa-trash"></i> </a>
                  </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      loadTable(page, limit, search);
    });

    $(document).on("change", ".select-limit", function () {
      let limit = $(this).val();
      let page = $(".page-item.active").find("a.page-link").data("page");
      loadTable(page, limit);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let search = $(this).val();
      let limit = $(".select-limit").val();
      loadTable(null, limit, search);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      $(".form-submit")[0].reset();
      resetForm();
      loadMappingPegawai();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $.ajax({
        url: "/admin/usersMapping",
        type: "post",
        data: $(".form-submit").serialize(),
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    });

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");

      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;

          loadMappingPegawai(result.id_user);
          $('input[name="id_user_mapping"]').val(result.id_user_mapping);
          $('select[name="jenis_mapping"]').val(result.jenis_mapping);
          $('select[name="id_user"]').val(result.id_user);

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
          if (result.jenis_mapping == "admin") {
            return;
          }
          selectValueMaping(result.jenis_mapping, result.id_mapping);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    $(document).on("change", 'select[name="jenis_mapping"]', function (e) {
      let value = $(this).val();

      let output = ``;
      if (value == "admin") {
        output += `<option value="">Mapping admin biarkan aja kosong</option>`;
        $('select[name="id_mapping"]').html(output);
      }
      selectValueMaping(value);
    });

    function selectValueMaping(value, id_mapping = null) {
      $.ajax({
        url: "/admin/usersMapping/selectValueMaping",
        method: "get",
        data: {
          value: value,
          id_mapping: id_mapping,
        },
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          let output = `<option value="">-- Mapping --</option>`;
          result.map((v, i) => {
            output += `<option value="${v.id_mapping}" ${
              id_mapping == v.id_mapping ? "selected" : ""
            }>${v.nama_mapping}</option>`;
          });
          $('select[name="id_mapping"]').html(output);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    function loadValueUser(value) {
      var output = null;
      $.ajax({
        url: "/admin/usersMapping/getValueUser",
        method: "get",
        data: {
          value: value,
        },
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          output = data;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    function loadValueMapping(jenis_mapping, id_mapping = null) {
      var output = null;
      $.ajax({
        url: "/admin/usersMapping/getLoadValueMapping",
        method: "get",
        data: {
          jenis_mapping: jenis_mapping,
          id_mapping: id_mapping,
        },
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          output = data;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    loadMappingPegawai();

    function loadMappingPegawai(id_user = null) {
      $.ajax({
        url: "/admin/usersMapping/selectValueMapingUsers",
        method: "get",
        dataType: "json",
        data: {
          id_user: id_user,
        },
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result, status } = data;
          let output = `<option value=""> -- User --</option>`;
          if (status == 200) {
            $.each(result, (i, v) => {
              output += `<option value="${v.id}">${v.email} | ${v.username}</option>`;
            });
          }
          $('select[name="id_user"]').html(output);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }
  });
</script>
