<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Penugasan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        action="/admin/penugasan"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="owl-carousel owl-theme">
          <div>
            <div class="modal-body">
              <h6>Daftar Penugasan</h6>
              <hr />
              <div id="error-form-submit"></div>
              <input type="hidden" name="page" value="add" />
              <input type="hidden" name="id_penugasan" value="" />
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Cabang</label>
                    <select
                      name="id_cabang"
                      class="form-control select2 id_cabang"
                      id=""
                    >
                      <option value="">-- Select Cabang --</option>
                      <% cabang.map((v,i) => { %>
                      <option value="<%- v.id_cabang %>">
                        <%- v.nama_cabang %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_cabang"></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Pegawai</label>
                    <select
                      name="id_pegawai"
                      class="form-control select2 id_pegawai"
                      id=""
                    >
                      <option value="">-- Select Pegawai --</option>
                      <% cabang.map((v,i) => { %>
                      <option value="<%- v.id_pegawai %>">
                        <%- v.nama_lengkap %>
                      </option>
                      <% }) %>
                    </select>
                    <small class="text-danger error-id_pegawai"></small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Tanggal penugasan</label>
                    <input
                      type="text"
                      class="form-control datepicker tanggal_penugasan"
                      placeholder="Tanggal penugasan..."
                      name="tanggal_penugasan"
                    />
                    <small class="text-danger error-tanggal_penugasan"></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Jenis penugasan</label>
                    <input
                      type="text"
                      class="form-control jenis_penugasan"
                      placeholder="Jenis Penugasan..."
                      name="jenis_penugasan"
                    />
                    <small class="text-danger error-jenis_penugasan"></small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Tugas</label>
                    <select
                      name="id_tugas"
                      class="form-control select2 id_tugas"
                      id=""
                    >
                      <option value="">-- Select Tugas --</option>
                    </select>
                    <small class="text-danger error-id_tugas"></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Lokasi Tugas</label>
                    <select
                      name="id_lokasi_tugas"
                      class="form-control select2 id_lokasi_tugas"
                      id=""
                    >
                      <option value="">-- Select Lokasi Tugas --</option>
                    </select>
                    <small class="text-danger error-id_lokasi_tugas"></small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Waktu Mulai</label>
                    <input
                      type="time"
                      class="form-control waktu_mulai"
                      placeholder="Waktu mulai..."
                      name="waktu_mulai"
                    />
                    <small class="text-danger error-waktu_mulai"></small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Waktu Selesai</label>
                    <input
                      type="time"
                      class="form-control waktu_selesai"
                      placeholder="Waktu selesai..."
                      name="waktu_selesai"
                    />
                    <small class="text-danger error-waktu_selesai"></small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Apakah penugasan ini aktif ?</label>
                <div class="form-check">
                  <input
                    name="is_aktif"
                    class="form-check-input is_aktif"
                    type="checkbox"
                    value="1"
                    id="is_aktif"
                  />
                  <label class="form-check-label" for="is_aktif"> Ya </label>
                </div>
                <small class="text-danger error-is_aktif"></small>
              </div>
              <div class="form-group">
                <div class="text-right">
                  <button
                    type="button"
                    class="btn btn-dark font-weight-bold customNextBtn"
                  >
                    Selanjutnya <i class="fa-solid fa-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="modal-body">
              <h6>List Penugasan</h6>
              <hr />
              <a href="#" class="btn btn-primary btn-add-list-task"
                ><i class="fas fa-plus"></i> List Pekerjaan
              </a>
              <div class="mb-2"></div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>File</th>
                      <th>Desk Task</th>
                      <th>Status</th>
                      <th>Keterangan</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="loadListPekerjaan">
                    <tr class="row-list-pekerjaan" data-no="1">
                      <td class="p-0 pr-1">
                        <input
                          type="file"
                          name="nama_file"
                          class="form-control nama_file"
                        />
                        <small class="text-danger error-nama_file"></small>
                      </td>
                      <td class="p-0 pr-1">
                        <textarea
                          type="text"
                          name="deskripsi"
                          class="form-control deskripsi"
                          placeholder="Deskripsi"
                          style="height: 100px"
                        ></textarea>
                        <small class="text-danger error-deskripsi"></small>
                      </td>
                      <td class="p-0 pr-1">
                        <select name="status" class="form-control status" id="">
                          <option value="">-- Select Status --</option>
                          <option value="list pekerjaan">List Pekerjaan</option>
                          <option value="pengerjaan">Dalam Pengerjaan</option>
                          <option value="selesai">Selesai</option>
                        </select>
                        <small class="text-danger error-status"></small>
                      </td>
                      <td class="p-0 pr-1">
                        <textarea
                          type="text"
                          name="keterangan"
                          class="form-control keterangan"
                          placeholder="Keterangan"
                          style="height: 100px"
                        ></textarea>
                        <small class="text-danger error-keterangan"></small>
                      </td>
                      <td class="p-0 pr-1">
                        <div class="text-center">
                          <button
                            type="button"
                            class="btn btn-danger btn-remove-list-pekerjaan"
                            data-no="1"
                          >
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <button
                      type="button"
                      class="btn btn-dark font-weight-bold customPrevBtn"
                    >
                      <i class="fa-solid fa-arrow-left"></i> Sebelumnya
                    </button>
                  </div>
                  <div>
                    <div class="form-group">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                      >
                        <i class="fas fa-window-close"></i> Close
                      </button>
                      <button type="button" class="btn btn-primary btn-submit">
                        <i class="fas fa-paper-plane"></i> Simpan
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
