<script>
  $(document).ready(function () {
    let owl = $(".owl-carousel").owlCarousel({
      loop: false,
      margin: 10,
      dots: false,
      responsive: {
        0: {
          items: 1,
        },
      },
    });

    owl.owlCarousel();
    // Go to the next item
    $(".customNextBtn").click(function () {
      owl.trigger("next.owl.carousel");
    });

    // Go to the previous item
    $(".customPrevBtn").click(function () {
      // With optional speed parameter
      // Parameters has to be in square bracket '[]'
      owl.trigger("prev.owl.carousel", [300]);
    });

    function getFilter() {
      let setFilter = {};
      setFilter.id_cabang = $(".filter_id_cabang").val();
      setFilter.nama_lokasi = $(".filter_nama_lokasi").val();
      setFilter.longitude = $(".filter_longitude").val();
      setFilter.latitude = $(".filter_latitude").val();
      setFilter.is_aktif = $(".filter_is_aktif").val();
      return setFilter;
    }

    $(document).on("change", ".filter_id_cabang", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_nama_lokasi", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_longitude", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_latitude", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_aktif", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/penugasan",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = 1;
          let dataUnit = "";
          data.map((v, i) => {
            let qrCode = "";

            output += `
                <tr>
                  <td>${no++}</td>
                  <td>${v.cabang.nama_cabang}</td>
                  <td>${v.nama_lokasi}</td>
                  <td>${v.longitude}</td>
                  <td>${v.latitude}</td>
                  <td>
                    <canvas id="canvas-${v.id_lokasi_tugas}"></canvas>
                  </td>
                  <td>${
                    v.is_aktif == 1
                      ? '<span class="badge badge-success">Aktif</span>'
                      : '<span class="badge badge-danger">Tidak aktif</span>'
                  }</td>
                  <td>
                    <div class="text-center">
                      <a class="btn btn-warning btn-edit btn-sm" data-id="${
                        v.id_lokasi_tugas
                      }" href="/pegawai/penugasan/${
              v.id_lokasi_tugas
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                      <a class="btn btn-danger btn-sm btn-delete" data-id="${
                        v.id_lokasi_tugas
                      }" href="/pegawai/penugasan/${
              v.id_lokasi_tugas
            }/delete"><i class="fas fa-trash"></i> </a>
                    </div>
                  </td>
                </tr>
                `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                  <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                      <li class="page-item ${v.active}">
                        <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                      </li>
                `;
          });
          paginationButton += `
              <li class="page-item ${buttonNext == false ? "disabled" : ""}">
              <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
            </li>
          </ul>
        </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);

          // load qr code
          data.map((v, i) => {
            let canvas = document.getElementById(`canvas-${v.id_lokasi_tugas}`);
            QRCode.toCanvas(canvas, v.qr_code, function (error) {
              if (error) console.error(error);
            });
          });
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let filter = getFilter();
      loadTable(page, limit, search, filter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_cabang"] option')
        .attr("selected", false)
        .trigger("change");
      $('input[name="is_aktif"]').attr("checked", false);
      owl.trigger("to.owl.carousel", 0);

      $("#loadListPekerjaan").html("");
      let output = getListPekerjaan();
      $("#loadListPekerjaan").html(output);
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let formData = new FormData();
      formData.append("page", $('input[name="page"]').val());
      formData.append("id_cabang", $(".id_cabang").val());
      formData.append("id_pegawai", $(".id_pegawai").val());
      formData.append("tanggal_penugasan", $(".tanggal_penugasan").val());
      formData.append("jenis_penugasan", $(".jenis_penugasan").val());
      formData.append("id_tugas", $(".id_tugas").val());
      formData.append("id_lokasi_tugas", $(".id_lokasi_tugas").val());
      formData.append("waktu_mulai", $(".waktu_mulai").val());
      formData.append("waktu_selesai", $(".waktu_selesai").val());

      let = is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        let = is_aktif = 1;
      }
      formData.append("is_aktif", is_aktif);

      let nama_file = $(".nama_file");
      let pushNamaFile = [];
      $.each(nama_file, function (i, v) {
        let value = $(this)[0].files[0];
        formData.append("nama_file", value);
      });

      let deskripsi = $(".deskripsi");
      let pushDeskripsi = [];
      $.each(deskripsi, function (i, v) {
        let value = $(this).val();
        if (value != "" && value != null) {
          pushDeskripsi.push(value);
        }
      });
      pushDeskripsi = pushDeskripsi.join(",");
      formData.append("deskripsi", pushDeskripsi);

      let status = $('select[name="status"]');
      let pushStatus = [];
      $.each(status, function (i, v) {
        let value = $(this).val();
        if (value != "" && value != null) {
          pushStatus.push(value);
        }
      });
      pushStatus = pushStatus.join(",");
      formData.append("status", pushStatus);

      let keterangan = $(".keterangan");
      let pushKeterangan = [];
      $.each(keterangan, function (i, v) {
        let value = $(this).val();
        if (value != "" && value != null) {
          pushKeterangan.push(value);
        }
      });
      pushKeterangan = pushKeterangan.join(",");
      formData.append("keterangan", pushKeterangan);

      onSubmit(formData);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/pegawai/penugasan",
        type: "post",
        data: data,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
          // $("#loading-data").removeClass("d-none");
          // $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          // $("#loading-data").addClass("d-none");
          // $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");
      resetForm();
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          $('input[name="id_lokasi_tugas"]').val(result.id_lokasi_tugas);
          $('select[name="id_cabang"]').val(result.id_cabang).trigger("change");
          $('input[name="nama_lokasi"]').val(result.nama_lokasi);
          $('input[name="longitude"]').val(result.longitude);
          $('input[name="latitude"]').val(result.latitude);
          $('input[name="qr_code"]').val(result.qr_code);
          if (result.is_aktif != null && result.is_aktif != 0) {
            $('input[name="is_aktif"]').attr("checked", true);
          }

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    // add list task
    let btnRemove = $(".btn-remove-list-pekerjaan");
    let saveNumber = [];
    $.each(btnRemove, function (i, v) {
      let number = $(this).data("no");
      saveNumber.push(number);
    });
    saveNumber.sort(function (a, b) {
      return b - a;
    });
    let startNumber = saveNumber[0];
    $(document).on("click", ".btn-add-list-task", function (e) {
      e.preventDefault();
      startNumber++;

      let output = getListPekerjaan();

      $("#loadListPekerjaan").append(output);
    });

    function getListPekerjaan() {
      let output = `
      <tr class="row-list-pekerjaan" data-no="${startNumber}">
        <td class="p-0 pr-1">
          <input
            type="file"
            name="nama_file"
            class="form-control nama_file"
          />
          <small class="text-danger error-nama_file"></small>
        </td>
        <td class="p-0 pr-1">
          <textarea
          name="deskripsi"
          class="form-control deskripsi"
          placeholder="Deskripsi"
          style="height: 100px"></textarea>
          <small class="text-danger error-deskripsi"></small>
        </td>
        <td class="p-0 pr-1">
          <select name="status" class="form-control status" id="">
            <option value="">-- Select Status --</option>
            <option value="list pekerjaan">List Pekerjaan</option>
            <option value="pengerjaan">Dalam Pengerjaan</option>
            <option value="selesai">Selesai</option>
          </select>
          <small class="text-danger error-status"></small>
        </td>
        <td class="p-0 pr-1">
          <textarea
          type="text"
          name="keterangan"
          class="form-control keterangan"
          placeholder="Keterangan"
          style="height: 100px"></textarea>
          <small class="text-danger error-keterangan"></small>
        </td>
        <td class="p-0 pr-1">
          <div class="text-center">
            <button type="button" class="btn btn-danger btn-remove-list-pekerjaan" data-no="${startNumber}">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      `;
      return output;
    }

    $(document).on("click", ".btn-remove-list-pekerjaan", function (e) {
      let number = $(this).data("no");
      $('.row-list-pekerjaan[data-no="' + number + '"]').remove();
    });

    $(document).on("change", 'select[name="id_cabang"]', function () {
      let value = $(this).val();
      if (value != "") {
        loadGetPegawaiCabang(value);
        loadGetTugasCabang(value);
        loadGetLokasiCabang(value);
      }
    });

    function loadGetLokasiCabang(id_cabang) {
      $.ajax({
        url: "/admin/lokasiTugas/" + id_cabang + "/getCabang",
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          let output = `<option value="">-- Select Lokasi Tugas --</option>`;
          const { result } = data;
          if (data.status == 200) {
            result.map((v, i) => {
              output += `
              <option value="${v.id_lokasi_tugas}">${v.nama_lokasi}</option>
              `;
            });

            $("select[name='id_lokasi_tugas']").html(output);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    function loadGetTugasCabang(id_cabang) {
      $.ajax({
        url: "/admin/tugas/" + id_cabang + "/getCabang",
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          let output = `<option value="">-- Select Tugas --</option>`;
          const { result } = data;
          if (data.status == 200) {
            result.map((v, i) => {
              output += `
              <option value="${v.id_tugas}">${v.nama_tugas}</option>
              `;
            });

            console.log("get output", output);
            $("select[name='id_tugas']").html(output);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    function loadGetPegawaiCabang(id_cabang) {
      $.ajax({
        url: "/pegawai/pengajuanLembur/getPegawaiCabang",
        method: "get",
        data: {
          id_cabang: id_cabang,
        },
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          let output = `<option value="">-- Select Pegawai --</option>`;
          const { result } = data;
          if (data.status == 200) {
            result.map((v, i) => {
              const { pegawai } = v;
              output += `
              <option value="${pegawai.id_pegawai}">${pegawai.no_pegawai} | ${pegawai.nama_lengkap}</option>
              `;
            });

            $("select[name='id_pegawai']").html(output);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }
  });
</script>

<%- include('../../utils/function') %>
