<script>
  $(document).ready(function () {
    function getFilter() {
      let setFilter = {};
      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.jadwal_id = $(".jadwal_id_filter").val();
      setFilter.tanggal = $(".tanggal_filter").val();
      setFilter.is_kerja = $(".filter_is_kerja").val();
      return setFilter;
    }
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/pegawaiJadwal",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            let jadwal_waktu_masuk = "-";
            let jadwal_waktu_keluar = "-";
            let jadwal_waktu_jenis = "-";

            if (v.jadwal != null) {
              jadwal_waktu_masuk = "Waktu masuk: " + v.jadwal.waktu_masuk;
              jadwal_waktu_keluar = "Waktu keluar: " + v.jadwal.waktu_keluar;
              jadwal_waktu_jenis = v.jadwal.jenis;
            }

            let jenisAbsensi = null;
            if (v.jenis_absensi != null) {
              jenisAbsensi = v.jenis_absensi.jenis_absensi;
            }
            let hari = moment(v.tanggal).format("dddd");
            output += `
            <tr>
                <td>${no++}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${capitalizeEachWord(jadwal_waktu_jenis)}</td>
                <td>
                <small>Hari: ${convertDate(hari)}</small><br/>
                <small>Tanggal: ${dateTime(v.tanggal)}</small>
                </td>
                <td>
                  <small>${jadwal_waktu_masuk}</small>  <br>
                  <small>${jadwal_waktu_keluar}</small>  <br>
                </td>
                <td>
                  ${
                    v.is_kerja == 1
                      ? '<span class="badge badge-success"><i class="fas fa-check"></i></span>'
                      : '<span class="badge badge-danger"><i class="fas fa-times"></i></span>'
                  }
                </td>
                <td>
                    <div class="text-center">
                          <a class="btn btn-warning btn-edit btn-sm" data-id="${
                            v.id_pegawai_jadwal
                          }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                          <a class="btn btn-danger btn-sm btn-delete" data-id="${
                            v.id_pegawai_jadwal
                          }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/delete"><i class="fas fa-trash"></i> </a>

            <a
            data-toggle="modal"
            data-target="#modalGantiJadwal"
            title="Ganti jadwal" class="btn btn-info btn-sm btn-change-shift" data-id="${
              v.id_pegawai_jadwal
            }" href="/pegawai/pegawaiJadwal/${
              v.id_pegawai_jadwal
            }/edit"><i class="fas fa-repeat"></i> </a>
                    </div>
                </td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    function resetForm() {
      $("#error-form-submit-perunit").html("");
      $(".form-submit-perunit").trigger("reset");

      $('.form-submit-perunit select[name="id_unit"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit-perunit select[name="id_jadwal"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit-perunit select[name="bulan"] option')
        .attr("selected", false)
        .trigger("change");
      $('.form-submit-perunit select[name="hari_libur"] option')
        .attr("selected", false)
        .trigger("change");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit-perunit", function (e) {
      e.preventDefault();
      $(".form-submit-perunit").submit();
    });

    $(document).on("submit", ".form-submit-perunit", function (e) {
      e.preventDefault();
      let data = {};
      data.page = $('.form-submit-perunit input[name="page"]').val();
      data.id_pegawai_jadwal = $(
        '.form-submit-perunit input[name="id_pegawai_jadwal"]'
      ).val();
      data.id_unit = $('.form-submit-perunit select[name="id_unit"]').val();
      data.id_jadwal = $('.form-submit-perunit select[name="id_jadwal"]').val();

      bulan = [];
      let get_bulan = $(
        ".form-submit-perunit select[name='bulan'] option:selected"
      );
      $.each(get_bulan, function (i, v) {
        bulan.push($(this).val());
      });
      bulan = bulan.join(",");

      hari_libur = [];
      let get_hari_libur = $(
        ".form-submit-perunit select[name='hari_libur'] option:selected"
      );
      $.each(get_hari_libur, function (i, v) {
        hari_libur.push($(this).val());
      });
      hari_libur = hari_libur.join(",");

      data.bulan = bulan;
      data.hari_libur = hari_libur;
      onSubmitPerUnit(data);
    });

    function onSubmitPerUnit(data) {
      $.ajax({
        url: "/pegawai/pegawaiJadwal/submitPerUnit",
        type: "post",
        data: data,
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit-perunit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1250,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-perunit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit-perunit").attr("disabled", true);
        },
      });
    }
  });
</script>
