<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Catatan Pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/catatanPegawai"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_pegawai_catatan" value="" />
          <div class="form-group">
            <label for="">Jenis</label>
            <select name="jenis" class="form-control jenis" id="">
              <option value="reward">Reward</option>
              <option value="punishment">Punishment</option>
            </select>
            <small class="text-danger error-jenis"></small>
          </div>
          <div class="form-group">
            <label for="">Nama pegawai</label>
            <select
              name="id_pegawai"
              class="form-control select2 id_pegawai"
              id=""
            >
              <option value="">-- Pegawai --</option>
              <% pegawai.map((v,i) => { %>
              <option value="<%- v.id_pegawai %>">
                <%- v.nama_lengkap %> | <%- v.no_identitas %>
              </option>
              <% }) %>
            </select>
            <small class="text-danger error-id_pegawai"></small>
          </div>

          <div class="form-group">
            <label for="">Catatan</label>
            <textarea
              name="catatan"
              class="form-control catatan"
              placeholder="Catatan..."
              id="catatan"
              style="height: 90px"
            ></textarea>
            <small class="text-danger error-catatan"></small>
          </div>

          <div class="form-group">
            <label for="">Waktu efektif</label>
            <input
              type="text"
              class="form-control datepicker waktu_efektif"
              placeholder="Waktu efektif..."
              name="waktu_efektif"
            />
            <small class="text-danger error-waktu_efektif"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
