<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1><%- title %></h1>
      <div class="section-header-breadcrumb">
        <%- include('../../layouts/partial/breadcrumb') %>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Table <%- title %></h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-user-tie"></i> &nbsp; Daftar tabel unit pegawai
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Select data:</label>
                    <select class="form-control select-limit">
                      <option value="">-- Limit --</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="form-group w-50 ml-auto">
                    <label>Pencarian:</label>
                    <input
                      type="text"
                      class="form-control search"
                      placeholder="Pencarian"
                    />
                  </div>
                </div>
              </div>
              <span id="keterangan">
                Showing <span id="from"></span> to <span id="to"></span> of
                <span id="total"></span> Entries
              </span>
              <div class="table-responsive">
                <table
                  class="table table-bordered table-striped table-hover"
                  id="dataTable"
                >
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Unit</th>
                      <th>No. pegawai</th>
                      <th>Pegawai</th>
                      <th>Jenis kelamin</th>
                      <th>Tanggal mulai</th>
                      <th>Tanggal selesai</th>
                      <th>Status</th>
                      <!-- <th class="text-center">Action</th> -->
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <select
                          name="filter_id_unit"
                          class="form-control filter_id_unit select2"
                          id=""
                        >
                          <option value="">-- Unit --</option>
                          <% unit.map((v,i) => { %>
                          <option value="<%- v.id_unit %>">
                            <%- v.nama_unit %>
                          </option>
                          <% }) %>
                        </select>
                      </th>
                      <th>
                        <input
                          type="number"
                          class="form-control filter_no_pegawai"
                          placeholder="No. pegawai..."
                          name="filter_no_pegawai"
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="form-control filter_nama_lengkap"
                          placeholder="Nama pegawai..."
                          name="filter_nama_lengkap"
                        />
                      </th>
                      <th>
                        <select
                          name="filter_jenis_kelamin"
                          class="form-control filter_jenis_kelamin"
                          id=""
                        >
                          <option value="">-- Jenis Kelamin --</option>
                          <option value="L">Laki-laki</option>
                          <option value="P">Perempuan</option>
                        </select>
                      </th>
                      <th>
                        <input
                          type="text"
                          class="datepicker form-control filter_tanggal_mulai"
                          placeholder="Tanggal mulai..."
                          name="filter_tanggal_mulai"
                        />
                      </th>
                      <th>
                        <input
                          type="text"
                          class="datepicker form-control filter_tanggal_selesai"
                          placeholder="Tanggal selesai..."
                          name="filter_tanggal_selesai"
                        />
                      </th>
                      <th>
                        <select
                          name="filter_is_aktif"
                          class="form-control filter_is_aktif"
                          id=""
                        >
                          <option value="">-- Is Aktif --</option>
                          <option value="1">Aktif</option>
                          <option value="0">Tidak Aktif</option>
                        </select>
                      </th>
                      <!-- <th class="text-center"></th> -->
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<%- include('./script') %>
