<script>
  $(document).ready(function () {
    function getFilter() {
      let setFilter = {};
      setFilter.id_unit = $(".filter_id_unit").val();
      setFilter.no_pegawai = $(".filter_no_pegawai").val();
      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.jenis_kelamin = $(".filter_jenis_kelamin").val();
      setFilter.tanggal_mulai = $(".filter_tanggal_mulai").val();
      setFilter.tanggal_selesai = $(".filter_tanggal_selesai").val();
      setFilter.is_aktif = $(".filter_is_aktif").val();
      return setFilter;
    }

    $(document).on("change", ".filter_id_unit", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_no_pegawai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_nama_lengkap", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_jenis_kelamin", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal_mulai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal_selesai", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_aktif", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/unitPegawai",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          console.log("get data result", dataResult);
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            output += `
              <tr>
                <td>${no++}</td>
                <td>${v.unit.nama_unit}</td>
                <td>${v.pegawai.no_pegawai}</td>
                <td>${v.pegawai.nama_lengkap}</td>
                <td>${
                  v.pegawai.jenis_kelamin == "L" ? "Laki-laki" : "Perempuan"
                }</td>
                <td>${
                  v.tanggal_mulai != null ? dateTime(v.tanggal_mulai) : "-"
                }</td>
                <td>${
                  v.tanggal_selesai != null ? dateTime(v.tanggal_selesai) : "-"
                }</td>
                <td>${v.is_aktif == "1" ? "Aktif" : "Tidak aktif"}</td>
              </tr>
              `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                    <li class="page-item ${v.active}">
                      <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                    </li>
              `;
          });
          paginationButton += `
            <li class="page-item ${buttonNext == false ? "disabled" : ""}">
            <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
  });
</script>

<%- include('../../utils/function') %>
