<!-- Modal -->
<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Kontrak Pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/kontrakPegawai"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_pegawai_kontrak" value="" />

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="jabatan-unit-tab"
                data-toggle="tab"
                data-target="#jabatan-unit"
                type="button"
                role="tab"
                aria-controls="jabatan-unit"
                aria-selected="true"
              >
                Jabatan Dan Unit
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="kontrak-tab"
                data-toggle="tab"
                data-target="#kontrak"
                type="button"
                role="tab"
                aria-controls="kontrak"
                aria-selected="false"
              >
                Kontrak
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="jabatan-unit"
              role="tabpanel"
              aria-labelledby="jabatan-unit-tab"
            >
              <%- include('./partial/jabatan') %>
            </div>
            <div
              class="tab-pane fade"
              id="kontrak"
              role="tabpanel"
              aria-labelledby="kontrak-tab"
            >
              <%- include('./partial/kontrak') %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalDetail"
  aria-labelledby="modalDetailLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetailLabel">
          Detail Kontrak Pegawai
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="jabatan-unit-detail-tab"
              data-toggle="tab"
              data-target="#jabatan-unit-detail"
              type="button"
              role="tab"
              aria-controls="jabatan-unit-detail"
              aria-selected="true"
            >
              Jabatan Dan Unit
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="kontrak-detail-tab"
              data-toggle="tab"
              data-target="#kontrak-detail"
              type="button"
              role="tab"
              aria-controls="kontrak-detail"
              aria-selected="false"
            >
              Kontrak
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="jabatan-unit-detail"
            role="tabpanel"
            aria-labelledby="jabatan-unit-detail-tab"
          >
            <%- include('./partial/detail/jabatan') %>
          </div>
          <div
            class="tab-pane fade"
            id="kontrak-detail"
            role="tabpanel"
            aria-labelledby="kontrak-detail-tab"
          >
            <%- include('./partial/detail/kontrak') %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <i class="fas fa-check"></i> OK
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/pegawai/kontrakPegawai/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control"
              name="importData"
              id="importData"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
