<% pegawaiKomponenGaji.map((v,i) => { %>
<script>
  new AutoNumeric(`.nominal-<%- v.id_komponen_gaji%>`, { decimalPlaces: 0 });
</script>
<% }) %>
<script>
  $(document).ready(function () {
    loadTable(null, null, null, getFilter());

    function getFilter() {
      let setFilter = {};
      setFilter.jenis_kontrak = $(".filter_jenis_kontrak").val();
      setFilter.no_pegawai = $(".filter_no_pegawai").val();
      setFilter.nama_lengkap = $(".filter_nama_lengkap").val();
      setFilter.id_unit = $(".filter_id_unit").val();
      setFilter.id_jabatan = $(".filter_id_jabatan").val();
      setFilter.tanggal_mulai = $(".filter_tanggal_mulai").val();
      setFilter.tanggal_selesai = $(".filter_tanggal_selesai").val();
      setFilter.is_aktif = $(".filter_is_aktif").val();

      return setFilter;
    }

    $(document).on("change", ".filter_jenis_kontrak", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_no_pegawai", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_nama_lengkap", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_id_unit", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_id_jabatan", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal_mulai", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_tanggal_selesai", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_aktif", function () {
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/pegawai/kontrakPegawai",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          client_id: "<%- id_client %>",
          filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = dataResult.output.keterangan.from;
          data.map((v, i) => {
            output += `
                      <tr>
                        <td>${no++}</td>
                        <td>${capitalizeEachWord(v.jenis_kontrak)}</td>
                        <td>${v.pegawai.no_pegawai}</td>
                        <td>${v.pegawai.nama_lengkap}</td>
                        <td>${v.unit.nama_unit}</td>
                        <td>${v.jabatan.nama_jabatan}</td>
                        <td>${
                          v.tanggal_mulai != null
                            ? dateTime(v.tanggal_mulai)
                            : "-"
                        }</td>
                        <td>${
                          v.tanggal_selesai != null
                            ? dateTime(v.tanggal_selesai)
                            : "-"
                        }</td>
                        <td>
                            ${
                              v.is_aktif == 1
                                ? '<span class="badge badge-success"><i class="fas fa-check"></i></span>'
                                : '<span class="badge badge-danger"><i class="fas fa-times"></i></span>'
                            }
                        </td>
                        <td>
                          <div class="text-center">
                            <a class="btn btn-warning btn-edit btn-sm" data-id="${
                              v.id_pegawai_kontrak
                            }" href="/pegawai/kontrakPegawai/${
              v.id_pegawai_kontrak
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                            <a class="btn btn-danger btn-sm btn-delete" data-id="${
                              v.id_pegawai_kontrak
                            }" href="/pegawai/kontrakPegawai/${
              v.id_pegawai_kontrak
            }/delete"><i class="fas fa-trash"></i> </a>
                    <a data-toggle="modal"
                          data-target="#modalDetail" class="btn btn-info btn-sm btn-detail" data-id="${
                            v.id_pegawai_kontrak
                          }" href="/pegawai/kontrakPegawai/${
              v.id_pegawai_kontrak
            }/detail"><i class="fas fa-eye"></i> </a>
                          </div>
                        </td>
                      </tr>
                      `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
                    <ul class="pagination mb-0">
                      <li class="page-item ${
                        buttonPrev == false ? "disabled" : ""
                      }">
                        <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                      </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                            <li class="page-item ${v.active}">
                              <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                            </li>
                      `;
          });
          paginationButton += `
                    <li class="page-item ${
                      buttonNext == false ? "disabled" : ""
                    }">
                    <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
                  </li>
                </ul>
              </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_pegawai"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_unit"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_jabatan"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_cabang"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="id_jabatan"]').attr("disabled", true);
      $(".nominal-all").addClass("d-none");
      $('input[name="nominal"]').addClass("d-none");
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let action = $(this).attr("action");
      let data = {};
      let is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        is_aktif = 1;
      }

      data.page = $('input[name="page"]').val();
      data.id_pegawai_kontrak = $('input[name="id_pegawai_kontrak"]').val();
      data.id_pegawai = $('select[name="id_pegawai"]').val();
      data.is_aktif = is_aktif;
      data.tanggal_masuk = $('input[name="tanggal_masuk"]').val();
      data.id_cabang = $('select[name="id_cabang"]').val();
      data.id_unit = $('select[name="id_unit"]').val();
      data.id_jabatan = $('select[name="id_jabatan"]').val();
      data.jenis_kontrak = $('select[name="jenis_kontrak"]').val();
      data.tanggal_mulai = $('input[name="tanggal_mulai"]').val();
      data.tanggal_selesai = $('input[name="tanggal_selesai"]').val();
      let id_komponen_gaji = [];
      let nominal = [];
      let data_id_komponen_gaji = $(".id_komponen_gaji");
      $.each(data_id_komponen_gaji, function (i, v) {
        if ($(this).is(":checked")) {
          let value = $(this).val();
          let nominal_gaji = $(
            'input[name="nominal"][data-id_komponen_gaji="' + value + '"]'
          ).val();
          nominal_gaji = nominal_gaji.split(",").join("");

          id_komponen_gaji.push(value);
          nominal.push(nominal_gaji);
        }
      });

      data.id_komponen_gaji = id_komponen_gaji.join(",");
      data.nominal = nominal.join(",");
      onSubmit(data);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/pegawai/kontrakPegawai",
        type: "post",
        data: data,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $(".btn-submit").attr("disabled", false);
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      resetForm();
      const id = $(this).data("id");
      const action = $(this).attr("href");

      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const {
            result,
            result: {
              cabang,
              jabatan,
              jabatan: { pegawai_jabatans },
              pegawai,
              unit,
              pegawai_komponen_gajis,
            },
          } = data;
          $('input[name="id_pegawai_kontrak"]').val(result.id_pegawai_kontrak);

          $('input[name="tanggal_masuk"]').val(
            dateTime(pegawai_jabatans[0].tanggal_mulai)
          );

          $('select[name="id_pegawai"]')
            .val(result.id_pegawai)
            .trigger("change");

          // jabatan & unit
          if (result.is_aktif != 0 && result != null) {
            $('input[name="is_aktif"]').attr("checked", true);
          } else {
            $('input[name="is_aktif"]').attr("checked", false);
          }

          $('select[name="id_cabang"]').val(cabang.id_cabang).trigger("change");
          selectPegawaiCabang(
            cabang.id_cabang,
            unit.id_unit,
            jabatan.id_jabatan
          );

          // kontrak
          $('select[name="jenis_kontrak"]').val(
            result.jenis_kontrak.toLowerCase()
          );
          $('input[name="tanggal_mulai"]').val(dateTime(result.tanggal_mulai));
          $('input[name="tanggal_selesai"]').val(
            result.tanggal_selesai != null
              ? dateTime(result.tanggal_selesai)
              : null
          );

          // komponen gaji
          $.each(pegawai_komponen_gajis, function (i, v) {
            $('.id_komponen_gaji[value="' + v.id_komponen_gaji + '"]').attr(
              "checked",
              true
            );
            $(
              'input[name="nominal"][data-id_komponen_gaji="' +
                v.id_komponen_gaji +
                '"]'
            )
              .removeClass("d-none")
              .val(number_format(v.nominal));
          });

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-detail", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");

      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const {
            result,
            result: {
              cabang,
              jabatan,
              jabatan: { pegawai_jabatans },
              pegawai,
              unit,
              pegawai_komponen_gajis,
            },
          } = data;

          $("#td_nama_pegawai").html(pegawai.nama_lengkap);
          const badge_is_aktif =
            result.is_aktif == "1"
              ? '<span class="badge badge-success">Aktif</span>'
              : '<span class="badge badge-danger">Tidak aktif</span>';

          $("#td_nama_pegawai").html(pegawai.nama_pegawai);
          $("#td_is_aktif").html(badge_is_aktif);
          $("#td_tanggal_masuk").html(
            dateTime(pegawai_jabatans[0].tanggal_mulai)
          );
          $("#td_id_cabang").html(cabang.nama_cabang);
          $("#td_id_unit").html(unit.nama_unit);
          $("#td_id_jabatan").html(jabatan.nama_jabatan);
          $("#td_jenis_kontrak").html(capitalizeEachWord(result.jenis_kontrak));
          $("#td_tanggal_mulai").html(dateTime(result.tanggal_mulai));
          $("#td_tanggal_selesai").html(
            result.tanggal_selesai != null
              ? dateTime(result.tanggal_selesai)
              : ""
          );

          let output = `
          <table class="w-100">
            <tbody>
            `;
          let nominalPendapatan = 0;
          $.each(pegawai_komponen_gajis, function (i, v) {
            const { komponen_gaji } = v;
            if (komponen_gaji.jenis == "+") {
              nominalPendapatan += parseFloat(v.nominal);
            }
            if (komponen_gaji.jenis == "-") {
              nominalPendapatan -= parseFloat(v.nominal);
            }
            output += `
            <tr>
              <td>${komponen_gaji.komponen_gaji} (${komponen_gaji.jenis})</td>
              <td>
                <span class="px-3">:</span>
             </td>
             <td>${number_format(v.nominal)}</td>
            </tr>
            `;
          });
          output += `
            </tbody>
            <tfoot style="border-top: 1px solid #b0b0b0;">
              <tr>
                <th colspan="2">Total bersih: Rp.</th>
                <th>
                  ${number_format(nominalPendapatan)}
                </th>
              </tr>
            </tfoot>
          </table>`;

          $("#load_komponen_gaji_karyawan").html(output);

          $("#modalDetail").modal().show();
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    $(".datepicker").datepicker({
      todayBtn: true,
      format: "dd-mm-yyyy",
      todayHighlight: true,
    });

    function dateTime(tanggal) {
      let getTanggal = moment(tanggal, "YYYY-MM-DD").format("DD-MM-YYYY");
      return getTanggal;
    }

    $(document).on("change", 'select[name="id_cabang"]', function () {
      let id_cabang = $(this).val();
      if (id_cabang != null && id_cabang != "") {
        selectPegawaiCabang(id_cabang);
      }
    });

    function selectPegawaiCabang(id_cabang, id_unit = "", id_jabatan = "") {
      $.ajax({
        url: "/admin/pegawai/" + id_cabang + "/cabangPegawai",
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result, status } = data;

          // unit
          let output = `
            <option value="">-- Unit --</option>
            `;
          if (status == 200) {
            $.each(result.units, function (i, v) {
              output += `
                <option value="${v.id_unit}" ${
                id_unit == v.id_unit ? "selected" : ""
              }>${v.nama_unit}</option>
                `;
            });

            $('select[name="id_unit"]').attr("disabled", false);
            $('select[name="id_unit"]').html(output);

            // jabatan
            selectPegawaiUnit(id_unit, id_jabatan);
          }
          if (output == "") {
            $('select[name="id_unit"]').attr("disabled", true);
          }
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("change", 'select[name="id_unit"]', function () {
      let id_unit = $(this).val();
      if (id_unit != "" && id_unit != null) {
        selectPegawaiUnit(id_unit);
      } else {
        $('select[name="id_jabatan"]').html(
          `<option value="">-- Jabatan --</option>`
        );
        $('select[name="id_jabatan"]').attr("disabled", true);
      }
    });

    function selectPegawaiUnit(id_unit, id_jabatan = "") {
      if (id_unit != null && id_unit != "") {
        $.ajax({
          url: "/pegawai/kontrakPegawai/" + id_unit + "/unitPegawai",
          method: "get",
          dataType: "json",
          beforeSend: function () {
            $("#loading-data").removeClass("d-none");
          },
          success: function (data) {
            const { result, status } = data;
            let output = `
                  <option value="">-- Jabatan --</option>
                  `;
            if (status == 200) {
              $.each(result.jabatans, function (i, v) {
                output += `
                      <option value="${v.id_jabatan}" ${
                  id_jabatan == v.id_jabatan ? "selected" : ""
                }>${v.nama_jabatan}</option>
                      `;
              });

              $('select[name="id_jabatan"]').attr("disabled", false);
              $('select[name="id_jabatan"]').html(output);
            }
            if (output == "") {
              $('select[name="id_jabatan"]').attr("disabled", true);
            }
          },
          error: function (x, t, m) {
            console.log(x.responseText);
          },
          complete: function () {
            $("#loading-data").addClass("d-none");
          },
        });
      }
    }
    $(document).on("click", ".id_komponen_gaji", function (e) {
      let value = $(this).val();
      if ($(this).is(":checked")) {
        $(
          'input[name="nominal"][data-id_komponen_gaji="' + value + '"]'
        ).removeClass("d-none");
      } else {
        $(
          'input[name="nominal"][data-id_komponen_gaji="' + value + '"]'
        ).addClass("d-none");
      }
    });

    // import
    $(document).on("click", ".btn-submit-import", function (e) {
      e.preventDefault();
      $(".form-submit-import").submit();
    });

    $(document).on("submit", ".form-submit-import", function (e) {
      e.preventDefault();
      let form = $(".form-submit-import")[0];
      let data = new FormData(form);
      onSubmitImport(data);
    });

    function onSubmitImport(data) {
      let url = $(".form-submit-import").attr("action");
      $.ajax({
        url: url,
        method: "post",
        type: "post",
        data: data,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
          $(".btn-submit-import").attr("disabled", true);
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
            resetFormImport();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },
        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-import").html(output);
        },
        complete: function () {
          $(".btn-submit-import").attr("disabled", false);
          $("#loading-data").addClass("d-none");
        },
      });
    }
  });
</script>

<%- include('../../utils/function') %>
