<div
  class="modal fade"
  id="modalForm"
  aria-labelledby="modalFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Form Jenis Lembur</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/jenisLembur"
        method="post"
        class="form-submit"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit"></div>
          <input type="hidden" name="page" value="add" />
          <input type="hidden" name="id_jenis_lembur" value="" />
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <label for="">Jenis Lembur</label>
                <input
                  type="text"
                  class="form-control jenis_lembur"
                  placeholder="Jenis lembur"
                  name="jenis_lembur"
                  id="jenis_lembur"
                />
                <small class="text-danger error-jenis_lembur"></small>
              </div>
              <div class="form-group">
                <label for="">Jenis perhitungan</label>
                <select
                  class="form-control jenis_perhitungan"
                  name="jenis_perhitungan"
                  id="jenis_perhitungan"
                >
                  <option value="">-- Jenis Perhitungan --</option>
                  <option value="jam">Jam</option>
                  <option value="kehadiran">Kehadiran</option>
                </select>
                <small class="text-danger error-jenis_perhitungan"></small>
              </div>
              <div class="form-group">
                <label for="">Jenis jadwal</label>
                <select
                  name="jenis_jadwal"
                  class="form-control jenis_jadwal"
                  id=""
                >
                  <option value="">-- Jenis Jadwal --</option>
                  <option value="hari kerja">Hari Kerja</option>
                  <option value="hari libur">Hari Libur</option>
                </select>
                <small class="text-danger error-jenis_jadwal"></small>
              </div>

              <div class="form-group">
                <label for="">Apakah jenis lembur ini aktif?</label>
                <div class="form-check">
                  <input
                    name="is_aktif"
                    class="form-check-input is_aktif"
                    type="checkbox"
                    value="1"
                    id="is_aktif"
                  />
                  <label class="form-check-label" for="is_aktif"> Ya </label>
                </div>
                <small class="text-danger error-is_aktif"></small>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="form-group d-none" id="lembur_kehadiran">
                <label for="">Nominal </label>
                <input
                  type="text"
                  name="nominal_kehadiran"
                  class="form-control numeric-kehadiran nominal_kehadiran"
                  placeholder="Nominal lembur kehadiran..."
                />
                <small class="text-danger error-nominal_kehadiran"></small>
              </div>

              <div class="form-group d-none" id="lembur_jam">
                <label for="">Nominal</label>
                <div class="row">
                  <div class="col-lg-6">
                    <table class="w-100">
                      <tbody>
                        <tr>
                          <td>Lembur 1 Jam</td>
                          <td width="50%">
                            <input
                              class="form-control lembur_1"
                              name="lembur_1"
                              type="text"
                              value="0"
                              data-lembur="1"
                            />
                            <small class="text-danger error-lembur_1"></small>
                          </td>
                        </tr>
                        <tr>
                          <td>Lembur 2 Jam</td>
                          <td>
                            <input
                              class="form-control lembur_2"
                              name="lembur_2"
                              type="text"
                              value="0"
                              data-lembur="2"
                            />
                            <small class="text-danger error-lembur_2"></small>
                          </td>
                        </tr>
                        <tr>
                          <td>Lembur 3 Jam</td>
                          <td>
                            <input
                              class="form-control lembur_3"
                              name="lembur_3"
                              type="text"
                              value="0"
                              data-lembur="3"
                            />
                            <small class="text-danger error-lembur_3"></small>
                          </td>
                        </tr>
                        <tr>
                          <td>Lembur 4 Jam</td>
                          <td>
                            <input
                              class="form-control lembur_4"
                              name="lembur_4"
                              type="text"
                              value="0"
                              data-lembur="4"
                            />
                            <small class="text-danger error-lembur_4"></small>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-6">
                    <table class="w-100">
                      <tbody>
                        <tr>
                          <td>Lembur 5 Jam</td>
                          <td width="50%">
                            <input
                              class="form-control lembur_5"
                              name="lembur_5"
                              type="text"
                              value="0"
                              data-lembur="5"
                            />
                            <small class="text-danger error-lembur_5"></small>
                          </td>
                        </tr>
                        <tr>
                          <td>Lembur 6 Jam</td>
                          <td>
                            <input
                              class="form-control lembur_6"
                              name="lembur_6"
                              type="text"
                              value="0"
                              data-lembur="6"
                            />
                            <small class="text-danger error-lembur_6"></small>
                          </td>
                        </tr>
                        <tr>
                          <td>Lembur 7 Jam</td>
                          <td>
                            <input
                              class="form-control lembur_7"
                              name="lembur_7"
                              type="text"
                              value="0"
                              data-lembur="7"
                            />
                            <small class="text-danger error-lembur_7"></small>
                          </td>
                        </tr>
                        <tr>
                          <td>Lembur 8 Jam</td>
                          <td>
                            <input
                              class="form-control lembur_8"
                              name="lembur_8"
                              type="text"
                              value="0"
                              data-lembur="8"
                            />
                            <small class="text-danger error-lembur_8"></small>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="text-center" id="image_redo">
                <img
                  src="/image/redo.png"
                  alt="Redo"
                  height="300px;"
                  style="opacity: 0.5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalImport"
  aria-labelledby="modalImportLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImportLabel">Form Import</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/jenisLembur/import"
        method="post"
        class="form-submit-import"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div id="error-form-submit-import"></div>
          <input type="hidden" name="id_client" value="<%- id_client %>" />
          <div class="form-group">
            <label for="">Import data</label>
            <input
              type="file"
              class="form-control importData"
              name="importData"
              id="importData"
            />
            <small class="text-danger error-importData"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i> Close
          </button>
          <button type="button" class="btn btn-primary btn-submit-import">
            <i class="fas fa-paper-plane"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
