<script>
  $(document).ready(function () {
    function getFilter() {
      let setFilter = {};
      setFilter.nama_cabang = $(".filter_nama_cabang").val();
      setFilter.nama_unit = $(".filter_nama_unit").val();
      setFilter.is_aktif = $(".filter_is_aktif").val();
      return setFilter;
    }

    $(document).on("input", ".filter_nama_cabang", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("input", ".filter_nama_unit", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });
    $(document).on("change", ".filter_is_aktif", function () {
      let search = $(".search").val();
      let limit = $(".select-limit").val();

      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    loadTable(null, null, null, getFilter());
    function loadTable(page = null, limit = null, search = null, filter = {}) {
      $.ajax({
        url: "/admin/unit",
        dataType: "json",
        type: "get",
        data: {
          page: page,
          limit: limit,
          search: search,
          client_id: "<%- id_client %>",
          filter: filter,
        },
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (dataResult) {
          const {
            output: {
              data,
              pagination: { pagination },
            },
          } = dataResult;

          let output = ``;

          let no = 1;
          let dataUnit = "";
          data.map((v, i) => {
            let outputDataUnit = "";
            if (v.membawahi_unit != null && v.membawahi_unit != "") {
              dataUnit = v.membawahi_unit;
              dataUnit = dataUnit.split(",");
              outputDataUnit = loadUnit(dataUnit);
            }

            output += `
                <tr>
                  <td>${no++}</td>
                  <td>${v.cabang.nama_cabang}</td>
                  <td>${v.nama_unit}</td>
                  <td>`;

            if (outputDataUnit != "") {
              $.each(outputDataUnit.result, (i, v) => {
                output += `<span class="badge badge-info mr-1">${v.nama_unit}</span>`;
              });
            } else {
              output += `-`;
            }

            output += `
                  </td>
                  <td>${
                    v.is_aktif == 1
                      ? '<span class="badge badge-success">Aktif</span>'
                      : '<span class="badge badge-danger">Tidak aktif</span>'
                  }</td>
                  <td>
                    <div class="text-center">
                      <a class="btn btn-warning btn-edit btn-sm" data-id="${
                        v.id_unit
                      }" href="/admin/unit/${
              v.id_unit
            }/edit"><i class="fas fa-pencil-alt"></i> </a>
                      <a class="btn btn-danger btn-sm btn-delete" data-id="${
                        v.id_unit
                      }" href="/admin/unit/${
              v.id_unit
            }/delete"><i class="fas fa-trash"></i> </a>
            <a data-toggle="modal" data-target="#modalDetail" class="btn btn-info btn-sm btn-detail" data-id="${
              v.id_unit
            }" href="/admin/unit/${
              v.id_unit
            }/detail"><i class="fas fa-eye"></i> </a>
                    </div>
                  </td>
                </tr>
                `;
          });
          $("#dataTable").find("tbody").html(output);

          // pagination
          const { buttonNext, buttonPrev, linkButtonNext, linkButtonPrev } =
            dataResult.output.pagination;
          let paginationButton = ` <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item ${buttonPrev == false ? "disabled" : ""}">
                  <a class="page-link" href="#" data-page="${linkButtonPrev}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>`;
          let span = ``;
          pagination.map((v, i) => {
            if (v.active == "active") {
              span = `<span class="sr-only">(current)</span>`;
            }
            paginationButton += `
                      <li class="page-item ${v.active}">
                        <a class="page-link" href="#" data-page="${v.page}">${v.page} ${span}</a>
                      </li>
                `;
          });
          paginationButton += `
              <li class="page-item ${buttonNext == false ? "disabled" : ""}">
              <a class="page-link" href="#" data-page="${linkButtonNext}"><i class="fas fa-chevron-right"></i></a>
            </li>
          </ul>
        </nav>`;

          $("#pagination").html(paginationButton);

          const { keterangan } = dataResult.output;
          $("#keterangan").find("#from").html(keterangan.from);
          $("#keterangan").find("#to").html(keterangan.to);
          $("#keterangan").find("#total").html(keterangan.total);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("click", ".page-link", function (e) {
      e.preventDefault();
      let page = $(this).data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let filter = getFilter();
      loadTable(page, limit, search, filter);
    });

    $(document).on("change", ".select-limit", function () {
      let page = $(".page-item.active").find("a.page-link").data("page");
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();

      loadTable(page, limit, search, setFilter);
    });

    $(document).on("input", ".search", function (e) {
      e.preventDefault();
      let limit = $(".select-limit").val();
      let search = $(".search").val();
      let setFilter = getFilter();
      loadTable(null, limit, search, setFilter);
    });

    $(document).on("click", ".btn-add", function (e) {
      e.preventDefault();
      $('input[name="page"]').val("add");
      resetForm();
    });

    function resetForm() {
      $("#error-form-submit").html("");
      $(".form-submit").trigger("reset");
      $('select[name="id_cabang"] option')
        .attr("selected", false)
        .trigger("change");
      $('select[name="membawahi_unit"] option')
        .attr("selected", false)
        .trigger("change");
      $('input[name="is_aktif"]').attr("checked", false);
    }

    function resetError(resetForm = "") {
      if (resetForm != "") {
        Object.keys(resetForm).map((v, i) => {
          $("." + v).removeClass("border border-danger");
          $(".error-" + v).html("");
        });
      }
    }

    function resetFormImport() {
      $("#error-form-submit-import").html("");
      $(".form-submit-import").trigger("reset");
    }

    $(document).on("click", ".btn-submit", function (e) {
      e.preventDefault();
      $(".form-submit").submit();
    });

    $(document).on("submit", ".form-submit", function (e) {
      e.preventDefault();
      let membawahi_unit = [];
      let get_membawahi_unit = $("#membawahi_unit option:selected");
      $.each(get_membawahi_unit, function (i, v) {
        membawahi_unit.push($(this).val());
      });
      membawahi_unit = membawahi_unit.join(",");
      let is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        is_aktif = 1;
      }

      let data = {};
      data.page = $('input[name="page"]').val();
      data.id_unit = $('input[name="id_unit"]').val();
      data.id_client = $('input[name="id_client"]').val();
      data.id_cabang = $('select[name="id_cabang"]').val();
      data.nama_unit = $('input[name="nama_unit"]').val();
      data.membawahi_unit = membawahi_unit;
      data.is_aktif = 0;
      if ($('input[name="is_aktif"]').is(":checked")) {
        data.is_aktif = 1;
      }
      onSubmit(data);
    });

    function onSubmit(data) {
      $.ajax({
        url: "/admin/unit",
        type: "post",
        data: data,
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
          $(".btn-submit").attr("disabled", true);
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
            resetForm();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalForm").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },

        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }
          // $("#error-form-submit").html(output);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
          $(".btn-submit").attr("disabled", false);
        },
      });
    }

    $(document).on("click", ".btn-edit", function (e) {
      e.preventDefault();
      const id = $(this).data("id");
      const action = $(this).attr("href");
      resetForm();
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          $('input[name="id_unit"]').val(result.id_unit);
          $('input[name="nama_unit"]').val(result.nama_unit);
          if (result.is_aktif != null && result.is_aktif != 0) {
            $('input[name="is_aktif"]').attr("checked", true);
          }

          let membawahiUnit = [];
          if (result.membawahi_unit != null) {
            membawahiUnit = result.membawahi_unit.split(",");
          }
          loadUnitAll(result.id_cabang, result.id_unit, membawahiUnit);

          $("#modalForm").modal().show();
          $('input[name="page"]').val("edit");
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    function loadEditData(action) {
      let output;
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        async: false,
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;
          output = result;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    $(document).on("click", ".btn-delete", function (e) {
      e.preventDefault();
      const action = $(this).attr("href");
      Swal.fire({
        title: "Deleted",
        text: "Yakin ingin menghapus item ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: action,
            dataType: "json",
            type: "get",
            beforeSend: function () {
              $("#loading-data").removeClass("d-none");
            },
            success: function (data) {
              if (data.status == 200) {
                Swal.fire("Deleted!", data.message, "success");
                loadTable(null, null, null, getFilter());
              } else {
                Swal.fire("Error!", data.message, "error");
              }
            },
            error: function (x, t, m) {
              console.log(x.responseText);
            },
            complete: function () {
              $("#loading-data").addClass("d-none");
            },
          });
        }
      });
    });

    // load unit
    function loadUnit(unit_id) {
      let get_unit_id = unit_id;
      var output = "";
      $.ajax({
        url: "/admin/unit/getFindInUnit",
        data: {
          unit_id: get_unit_id,
        },
        async: false,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          output = data;
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
      return output;
    }

    // load unit all
    function loadUnitAll(id_cabang, id_unit = null, membawahiUnit = []) {
      var output = "";
      if (id_unit != null) {
        $('select[name="id_cabang"] option[value="' + id_cabang + '"]')
          .attr("selected", true)
          .trigger("change");
      }

      $.ajax({
        url: "/admin/unit/getFindAllUnit",
        data: {
          id_cabang: id_cabang,
        },
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const { result } = data;

          output = `
            <option value="" disabled="disabled" data-name="membawahi_unit">-- Select All --</option>`;

          $.each(result, (i, v) => {
            let selected = "";
            let show = true;
            if (id_unit != null) {
              let check = membawahiUnit.includes(v.id_unit);
              if (check) {
                selected = "selected";
              }

              if (id_unit == v.id_unit) {
                show = false;
              }
            }

            if (show) {
              output += `<option value="${v.id_unit}" ${selected}>${v.nama_unit}</option>`;
            }
          });
          $('select[name="membawahi_unit"]').html(output);
        },
        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    }

    // select 2
    $(".select2").select2({
      dropdownParent: "#modalForm",
      theme: "bootstrap4",
    });

    // function select all multiple

    function formatResult(state) {
      if (!state.id) {
        var btn = $(
          `<div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="checkbox-all-option" style="top: 6px;">
                <label class="form-check-label" for="checkbox-all-option">
                  Select all
                </label>
              </div>`
        );
        return btn;
      }

      var id = "state" + state.id;
      var checkbox = $(
        `<label class="form-check-label">
              ${state.text}
            </label>`,
        { id: id }
      );
      return checkbox;
    }

    $(".select2-multiple").select2({
      theme: "bootstrap4",
      dropdownParent: "#modalForm",
      templateResult: formatResult,
      width: "100%",
      closeOnSelect: false,
    });

    $(document).on("click", ".btn-detail", function (e) {
      let action = $(this).attr("href");
      $.ajax({
        url: action,
        method: "get",
        dataType: "json",
        beforeSend: function () {
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          const {
            result: {
              detail,
              membawahi,
              detail: { cabang },
            },
          } = data;

          $("#td_nama_cabang").html(cabang.nama_cabang);
          $("#td_alamat").html(cabang.alamat);
          $("#td_kontak").html(cabang.kontak);
          $("#td_nama_unit").html(detail.nama_unit);

          $("#td_membawahi_unit").html("");
          if (membawahi.length > 0) {
            let output = `<ul>`;
            $.each(membawahi, function (i, v) {
              $.each(v, function (unit_id1, v2) {
                if (unit_id1 != "") {
                  let getUnitBawah1 = loadEditData(
                    `/admin/unit/${unit_id1}/edit`
                  );
                  output += `<li>${getUnitBawah1.nama_unit}</li>`;

                  let checkString = false;
                  if (typeof v2 == "string") {
                    checkString = true;
                  }
                  if (v2.length > 0 && !checkString) {
                    if (v2[0] != "") {
                      output += `
                <li>
                  <ul>
                  `;
                      $.each(v2, function (i3, unit_id2) {
                        let getUnitBawah2 = null;
                        if (unit_id2 != "") {
                          getUnitBawah2 = loadEditData(
                            `/admin/unit/${unit_id2}/edit`
                          );
                        }

                        if (getUnitBawah2 != null) {
                          output += `<li>${getUnitBawah2.nama_unit}</li>`;
                          let membawahiUnit = getUnitBawah2.membawahi_unit;

                          if (membawahiUnit != "" && membawahiUnit != null) {
                            membawahiUnit = membawahiUnit.split(",");
                            let getSubUnit = loadUnit(membawahiUnit);
                            if (getSubUnit.result.length > 0) {
                              output += `
                            <li>
                              <ul>`;
                              $.each(getSubUnit.result, function (i4, v4) {
                                output += `<li>${v4.nama_unit}</li>`;
                              });
                              output += `</ul>
                            </li>`;
                            }
                          }
                        }
                      });
                      output += `
                  </ul>
                </li>`;
                    }
                  }
                }
              });
            });
            output += `</ul>`;

            $("#td_membawahi_unit").html(output);
          } else {
            $("#td_membawahi_unit").html(`
            <strong> - </strong>
            `);
          }
        },

        error: function (x, t, m) {
          console.log(x.responseText);
        },
        complete: function () {
          $("#loading-data").addClass("d-none");
        },
      });
    });

    // import
    $(document).on("click", ".btn-submit-import", function (e) {
      e.preventDefault();
      $(".form-submit-import").submit();
    });

    $(document).on("submit", ".form-submit-import", function (e) {
      e.preventDefault();
      let form = $(".form-submit-import")[0];
      let data = new FormData(form);
      onSubmitImport(data);
    });
    function onSubmitImport(data) {
      let url = $(".form-submit-import").attr("action");
      $.ajax({
        url: url,
        method: "post",
        type: "post",
        data: data,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
          $(".btn-submit-import").attr("disabled", true);
          $("#loading-data").removeClass("d-none");
        },
        success: function (data) {
          if (data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Successfully",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
            resetFormImport();
            resetError(data.result);
          }

          if (data.status == 400) {
            Swal.fire({
              icon: "error",
              title: "Failed",
              text: data.message,
              showConfirmButton: false,
              timer: 1500,
            });

            $("#modalImport").modal("hide");
            loadTable(null, null, null, getFilter());
          }
        },
        error: function (x, t, m) {
          const { responseJSON, responseText } = x;
          if (responseText != "") {
            console.log(responseText);
            if (
              responseJSON.message.toLowerCase() != "invalid form validation"
            ) {
              Swal.fire({
                icon: "error",
                title: responseJSON.message,
                text: responseJSON.result,
              });
            }
            $("#loading-data").addClass("d-none");
            $(".btn-submit-import").attr("disabled", false);
            $(".btn-submit").attr("disabled", false);
          }

          if (responseJSON != "") {
            if (
              responseJSON.message.toLowerCase() == "invalid form validation"
            ) {
              const { result } = responseJSON;
              let output = ``;
              let error = $("small.text-danger");
              let pushError = {};
              $.each(error, function (i, v) {
                let getClass = $(this).attr("class");
                getClass = getClass.replace("text-danger error-", "");
                pushError = { ...pushError, [getClass]: getClass };
              });
              resetError(pushError);

              if (result != "") {
                result.map((v, i) => {
                  $("." + v.param).addClass("border border-danger");
                  $(".error-" + v.param).html(v.msg);
                });
              }
            }
          }

          // $("#error-form-submit-import").html(output);
        },
        complete: function () {
          $(".btn-submit-import").attr("disabled", false);
          $("#loading-data").addClass("d-none");
        },
      });
    }

    $(document).on("change", 'select[name="id_cabang"]', function () {
      let value = $(this).val();
      if (value != null && value != "") {
        loadUnitAll(value);
      }
    });
    // select 2 multiple
    function formatResult(state) {
      if (!state.id) {
        let name = null;
        name = $(state.element).data("name");
        var btn = $(
          `<div class="form-check">
              <input class="form-check-input checkbox-all-option" type="checkbox" value="1" id="checkbox-all-option" data-name="${name}">
              <label class="form-check-label" for="checkbox-all-option">
                Select all
              </label>
            </div>`
        );
        return btn;
      }

      var id = "state" + state.id;
      var checkbox = $(
        `<label class="form-check-label">
              ${state.text}
            </label>`,
        { id: id }
      );
      return checkbox;
    }

    $(".select2-multiple").select2({
      theme: "bootstrap4",
      dropdownParent: "#modalForm",
      templateResult: formatResult,
      width: "100%",
      closeOnSelect: false,
    });
  });
</script>

<%- include('../../utils/function') %> <%- include('../../utils/select2-custom')
%>
