<style>
  p, ul:not(.list-unstyled){
    line-height: 35px;
  }
</style>
<div id="relative" style="position: relative">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light w-100"
    style="position: relative; left: 0; right: 0"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <% 
    let dashboardClient = `/admin/dashboardClient?client_id=${client_id}`;
    let cabang = `/admin/cabang?client_id=${client_id}`;
    let jabatan = `/admin/jabatan?client_id=${client_id}`;
    let unit = `/admin/unit?client_id=${client_id}`;
    let jadwal = `/admin/jadwal?client_id=${client_id}`;
    let pegawai = `/admin/pegawai?client_id=${client_id}`;
    let jenisAbsensi =  `/admin/jenisAbsensi?client_id=${client_id}`;
    let jenisCuti = `/admin/jenisCuti?client_id=${client_id}`;
    let jenisLembur = `/admin/jenisLembur?client_id=${client_id}`;
    let komponenGaji = `/admin/komponenGaji?client_id=${client_id}`;
    %>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li
          class="nav-item <%- currentUrl ==`${dashboardClient}` ? 'active' : '' %>"
        >
          <a class="nav-link" href="<%- dashboardClient %>">
            Dashboard <%- currentUrl ==`${dashboardClient}` ?
            `<span class="sr-only">(current)</span>` : '' %>
          </a>
        </li>
        
        <li
          class="nav-item">
          <div class="dropdown">
            <button class="<%- currentUrl == cabang || currentUrl == unit || currentUrl == jabatan  ? 'active' : '' %> btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Data bagian
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item <%- currentUrl == cabang ? 'active' : '' %>" href="<%- cabang %>">Cabang</a>
              <a class="dropdown-item <%- currentUrl == unit ? 'active' : '' %>" href="<%- unit %>">Unit</a>
              <a class="dropdown-item <%- currentUrl == jabatan? 'active' : '' %>" href="<%- jabatan %>">Jabatan</a>
            </div>
          </div>
        </li>


        <li
          class="nav-item <%- currentUrl == jadwal ? 'active' : '' %>"
        >
          <a class="nav-link" href="<%- jadwal %>">
            Jadwal <%- currentUrl == jadwal ?
            `<span class="sr-only">(current)</span>` : '' %>
          </a>
        </li>
 
        <li class="nav-item <%- currentUrl == pegawai ? 'active' : '' %>">
          <a class="nav-link" href="<%- pegawai %>">Pegawai  <%- currentUrl == pegawai ?
            '<span class="sr-only">(current)</span>' : '' %></a>
        </li>

        <li
        class="nav-item">
        <div class="dropdown">
          <button class="<%- currentUrl == jenisAbsensi ||  currentUrl == jenisCuti || currentUrl == jenisLembur  ? 'active' : '' %> btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            Data jenis
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item <%- currentUrl == jenisAbsensi ? 'active' : '' %>" href="<%- jenisAbsensi %>">Jenis absensi</a>
            <a class="dropdown-item <%- currentUrl == jenisCuti ? 'active' : '' %>" href="<%- jenisCuti %>">Jenis cuti</a>
            <a class="dropdown-item <%- currentUrl == jenisLembur ? 'active' : '' %>" href="<%- jenisLembur %>">Jenis lembur</a>
          </div>
        </div>
      </li>


        <li class="nav-item <%- currentUrl == komponenGaji ? 'active' : '' %>">
          <a class="nav-link" href="<%- komponenGaji %>">Komponen Gaji  <%- currentUrl == komponenGaji ?
            '<span class="sr-only">(current)</span>' : '' %></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
