<style>
  p, ul:not(.list-unstyled){
    line-height: 35px;
  }
</style>
<div id="relative" style="position: relative">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light w-100"
    style="position: relative; left: 0; right: 0"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <%
    let pegawaiDashboard = `/pegawai/pegawaiDashboard?client_id=${client_id}`;
    let pegawaiJadwal = `/pegawai/pegawaiJadwal?client_id=${client_id}`; 
    let pegawaiJabatan = `/pegawai/pegawaiJabatan?client_id=${client_id}`;
    let pegawaiUnit = `/pegawai/pegawaiUnit?client_id=${client_id}`; 
    let pegawaiKontrak = `/pegawai/pegawaiKontrak?client_id=${client_id}`; 
    let pegawaiCatatan = `/pegawai/pegawaiCatatan?client_id=${client_id}`;
    let pegawaiSaldoCuti = `/pegawai/pegawaiSaldoCuti?client_id=${client_id}`;
    %>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li
          class="nav-item <%- currentUrl == pegawaiDashboard ? 'active' : '' %>"
        >
          <a class="nav-link" href="<%- pegawaiDashboard %>">
            Dashboard <%- currentUrl == pegawaiDashboard ? `<span class="sr-only">(current)</span>` : '' %>
          </a>
        </li>
        <li class="nav-item <%- currentUrl == pegawaiJadwal ? 'active' : '' %>">
          <a class="nav-link" href="<%- pegawaiJadwal %>">
            Jadwal Pegawai <%- currentUrl == pegawaiJadwal ? `<span class="sr-only">(current)</span>` : '' %></a
          >
        </li>

        <li
        class="nav-item">
        <div class="dropdown">
          <button class="<%- currentUrl == pegawaiUnit ||  currentUrl == pegawaiJabatan ? 'active' : '' %> btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            Data bagian
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item <%- currentUrl == pegawaiUnit ? 'active' : '' %>" href="<%- pegawaiUnit %>">Unit Pegawai</a>
            <a class="dropdown-item <%- currentUrl == pegawaiJabatan ? 'active' : '' %>" href="<%- pegawaiJabatan %>">Jabatan Pegawai</a>
          </div>
        </div>
      </li>

        <li
          class="nav-item <%- currentUrl == pegawaiKontrak ? 'active' : '' %>"
        >
          <a class="nav-link" href="<%- pegawaiKontrak %>">
            Kontrak Pegawai <%- currentUrl == pegawaiKontrak ? `<span class="sr-only">(current)</span>` : '' %></a
          >
        </li>
        <li
          class="nav-item <%- currentUrl == pegawaiCatatan ? 'active' : '' %>"
        >
          <a class="nav-link" href="<%- pegawaiCatatan %>">
            Catatan Pegawai <%- currentUrl == pegawaiCatatan ? `<span class="sr-only">(current)</span>` : '' %></a
          >
        </li>
        <li
          class="nav-item <%- currentUrl == pegawaiSaldoCuti ? 'active' : '' %>"
        >
          <a class="nav-link" href="<%- pegawaiSaldoCuti %>">
            Pegawai Saldo Cuti <%- currentUrl == pegawaiSaldoCuti ? `<span class="sr-only">(current)</span>` : '' %></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
