<% if(alert.status == 'error'){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Failed! </strong> <%- alert.message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> 

<% if(alert.status == 'success'){ %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success! </strong> <%- alert.message %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
